h1{
  font-family: Alata, sans-serif;
}

.lecturer-programmes{
  .header{
    display: flex;
    justify-content: space-between;
    h1{
      font-family: Manrope, sans-serif;
      font-size: x-large;
      font-weight: lighter;
    }

    .actions{
      display: flex;
      gap: 10px;
    }
  }

  .programmes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    .programme{
      background-color: #B7C0E1;
      display: grid;
      flex-direction: column;
      align-content: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      .programme-title, .status{
        font-family: "Ropa Sans", sans-serif;
        margin: 0;
      }

      .programme-title{
        font-size: 18px;
      }
    }
  }
}
