<div class="container" style="padding-top:55px">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-wrapper">
                <form (ngSubmit)="postDataToServer()" #startForm="ngForm">
                    <h3 class="form-title-label">1.1 Create A new Programme </h3>
                    <hr class="colorgraph">
                    <br>
                    <div [hidden]="true" class="form-group">
                        <label for="initiator">Initiator</label>
                        <input id="initiator" type="text" class="form-control" [(ngModel)]="initiator" placeholder="Initiator" name="initiator" />
                    </div>
                    <br>
                    <div [hidden]="true" class="form-group">
                        <label for="facultyName">Faculty</label>
                        <input id="facultyName" type="text" class="form-control" [(ngModel)]="facultyName" placeholder="facultyName" name="faculty"
                        />
                    </div>
                    <br>
                    <div [hidden]="true" class="form-group">
                        <label for="departmentName">Department</label>
                        <input id="departmentName" type="text" class="form-control" [(ngModel)]="departmentName" placeholder="departmentName" name="department"
                        />
                    </div>

                    <!-- placeholder="Programme Name" -->
                    <div class="form-group">
                        <label for="ProgrammeName">Proposed Programme title</label>
                        <input id="programmeName" type="text" class="form-control" required [(ngModel)]="programmeName" name="ProgrammeName" #pron="ngModel">
                        <div [hidden]="pron.valid" class="alert alert-danger">Programme Name is required</div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="ProgrammeCode">Proposed Programme Code</label>
                        <input id="programmeCode" type="text" class="form-control" required [(ngModel)]="programmeCode" name="devCode" #procode="ngModel">
                        <div [hidden]="procode.valid" class="alert alert-danger">Proposed Programme Code is required</div>
                    </div>
                    <br>

                    <div class=form-group>
                        <label for="level">NQF Level</label>
                        <select class="selectpicker show-tick form-control input-lg" title="Select level" required [ngModel]="level" (ngModelChange)="changed($event)"
                            name="level">
                            <option value="Select level"></option>
                            <option *ngFor="let singleLevel of levels" [value]="singleLevel">{{singleLevel}}</option>
                        </select>
                    </div>
                    <div class="form-group span12">
                        <button type="submit" class="btn btn-lg btn-success " [disabled]="!startForm.form.valid">Submit</button>
                        <button type="button" class="btn btn-lg btn-default " (click)="close()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>