<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps; track step.title; let i= $index; ){
    <li class="flex items-center gap-2 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-8 rounded-full grid place-items-center text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'">
        {{i+1}} </span>
      <span class="hidden sm:block"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep==1){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">NQF Documentation</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="nqf_start.showModal()">
      Preparation for NQA Submission
    </button>
  </div>

  <p class="text-sm text-gray-700">
    The CDC prepares the NQF qualification documentation for submission to ADS within 14 working days upon Senate
    approval
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Submission</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="nqf_start" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <nqa-preparation [code]="code"></nqa-preparation>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}

@if(selectedStep==2){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">NQF Submission</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="nqf_submit.showModal()">
      Preparation for NQA Submission
    </button>
  </div>

  <p class="text-sm text-gray-700">
    ADS review the NQF submission from the department and prepare NQF application documentation for submission.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Submission</span>
      <span class="text-xs text-gray-500">Submitted: 29 April 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="nqf_submit" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <nqf-pdu-recommend [code]="code"></nqf-pdu-recommend>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}

@if(selectedStep==3){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">NQF Feedback</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="nqf_feedback.showModal()">
      NQF Feedback
    </button>
  </div>

  <p class="text-sm text-gray-700">
    NQF Feedback information
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Feedback</span>
      <span class="text-xs text-gray-500">Submitted: 01 May 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="nqf_feedback" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <!-- <tlu-ceu-qa-start [code]="code"></tlu-ceu-qa-start> -->
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}

@if(selectedStep==4){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">NQF Registration</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="nqf_reg.showModal()">
      NQF Registration
    </button>
  </div>

  <p class="text-sm text-gray-700">
    ADS submits a complete application to the Namibia Qualification Authority(NQA) for registration on the National
    Qualification Framework(NQF)
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">NQF Registration</span>
      <span class="text-xs text-gray-500">Submitted: 01 May 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="nqf_reg" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <nqa-registration [code]="code"></nqa-registration>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}
