@tailwind base;
@tailwind components;
@tailwind utilities;


$Blue: #1b2c5d;
$Yellow: #fcaf17;
$Red: #da2128;

/* You can add global styles to this file, and also import other style files */
html,
body,
.view {
  height: 100%;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar{
  margin-bottom: 60px;}
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
}
#app{
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.badge-notify{
  background:red;
  position:relative;
  top: -15px;
  left: -48px;
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
