<div class="space-y-4">
  <h3 class="text-xl mb-4">Recommendation of Need Analysis </h3>
  <label class="text-sm font-bold">Final Need Analysis Report:</label>

  <file-upload [code]="code" [url]="url" itemAlias="check-list"></file-upload>

  <div class="join join-horizontal lg:join-horizontal w-full justify-center">
    <button [disabled]="!fileUpload?.uploader?.queue.length" type="button" class="btn join-item btn-primary btn-sm"
      (click)="fileUpload.onUpload('recomment')">
      Recommend
    </button>
    <!-- [disabled]="!uploader.getNotUploadedItems().length || !concludeForm.form.valid" -->

    <button [disabled]="!fileUpload?.uploader?.queue.length" type="button" class="btn  btn-success btn-sm join-item"
      (click)="fileUpload.onUpload('approve')">
      Approve
    </button>

    <button [disabled]="!fileUpload?.uploader?.queue.length" type="button" class="btn  btn-error btn-sm join-item"
      (click)="fileUpload.onUpload('decline')">
      Decline
    </button>

    <button [disabled]="!fileUpload?.uploader?.queue.length" type="button" class="btn btn-warning btn-sm join-item"
      (click)="fileUpload.onUpload('defer')">
      Defer
    </button>
  </div>
