<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Curriculum Development Workflow</title>
        <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/vendor/bower_components/font-awesome/css/font-awesome.min.css"/>
        <!--link rel="stylesheet" href="/vendor/scrolling/css/scrolling-nav.css"/ -->
        <link rel="stylesheet" href="/vendor/application/app.css"/>
        <link rel="stylesheet" href="/vendor/application/about-us/about-us.component.css"/>
        <link rel="stylesheet" href="/vendor/application/home/home.component.css"/>
        <link rel="stylesheet" href="/vendor/application/notification/notification.component.css"/>
        <link rel="stylesheet" href="/vendor/application/side-bar/side-bar.component.css"/>
        <link rel="stylesheet" href="/vendor/application/pdu.component.css"/>
        <link rel="stylesheet" href="/vendor/application/tutorial/tutorial.component.css"/>
        <link rel="stylesheet" href="/vendor/application/login/login.component.css"/>
	    <link rel="stylesheet" href="/vendor/bower_components/bootstrap-arrow-buttons/dist/css/bootstrap-arrow-buttons.css">
        <!--<link rel="stylesheet" href="/vendor/bower_components/bootstrapValidator/dist/css/bootstrapValidator.css">
         <link rel="stylesheet" href="/vendor/bower_components/bootstrapValidator/dist/css/bootstrapValidator.min.css">-->

        <!--link rel="stylesheet" href="/vendor/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" /-->
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

        <!-- Importing required js script -->
        <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <script src="/vendor/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--<script src="/vendor/bower_components/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
        <script src="/vendor/scrolling/js/jquery.easing.min.js"></script>
        <script src="/vendor/scrolling/js/scrolling-nav.js"></script>-->

        <!--script src="/vendor/bower_components/moment/min/moment.min.js"></script>
        <script src="/vendor/bower_components/bootstrap/js/collapse.js"></script>
        <script src="/vendor/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script -->
        <!--script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script-->
        <script src="/angular2/node_modules/core-js/client/shim.min.js"></script>
        <script src="/angular2/node_modules/zone.js/dist/zone.js"></script>
        <script src="/angular2/node_modules/reflect-metadata/Reflect.js"></script>
        <script src="/angular2/node_modules/systemjs/dist/system.src.js"></script>
        <script src="/vendor/application/systemjs.config.js"></script>
        <script>
          System.import('app').catch(function(err){console.error(err);});
        </script>
    </head>
        <body>

        <!-- Loads the application -->
        <pdu>Welcome to Curriculum Development Application...</pdu>
    </body>
</html>
