<div class="container" style="padding-top:70px">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="login-wrapper">
        <form #bosForm="ngForm">
          <h3 class="form-title-label"> 5.2 Faculty Bos -- Recommendation</h3>
          <!-- <button type="submit" class="btn btn-default" (click)="backClicked()">Go back</button> -->
          <hr class="colorgraph">
          <br>
          <div class="form-group">
            <label for="ProgrammeCode">Programme Code</label>
            <input id="programmeCode" type="text" class="form-control" required [(ngModel)]="model.programmeCode"
              name="devCode" #procode="ngModel">
            <div [hidden]="procode.valid" class="alert alert-danger">Proposed Programme Code is required</div>
          </div>
          <br>
          <div class="form-group">
            <label for="date">BOS Date</label>
            <div class="input-group">
              <input id="date" type="Date" class="form-control" required [(ngModel)]="model.consultationDate"
                ng2-datetime-picker date-only="true" name="date" placeholder="YYYY-MM-DD" #cdate="ngModel" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <div [hidden]="cdate.valid" class="alert alert-danger">consultationDate is required</div>
          </div>
          <br>
          <div class="form-group">
            <label for="doc"> Programme Draft: </label>
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <label>
                  <span style="height:40px" class="m-0 px-3 py-2 btn btn-primary btn-lg" id="button-addon1">
                    Browse
                    <input class="form-control" #selectedFile type="file" name="recommendation" ng2FileSelect
                      [uploader]="uploader" (change)="updateFile()" style="display: none;" />
                  </span>
                </label>
              </div>
              <input style="height:40px" type="text" id="file-name" class="form-control" placeholder="NO FILE SELECTED"
                aria-describedby="button-addon1" readonly>
              <div class="input-group-append">
                <button mdbBtn type="button" color="danger" class="m-0 px-3 py-2" style="height:40px" mdbWavesEffect
                  (click)="removefile();uploader.clearQueue();"
                  [disabled]="!uploader.getNotUploadedItems().length">X</button>
              </div>
            </div>
            <div [hidden]="uploader.getNotUploadedItems().length" class="alert alert-danger">Recommendation documents is required</div>
          </div>
          <div class="form-group">
            <label class="control-label">Recommended to: </label>
            <fieldset style="border:solid 0.4px;border-radius:4px;width:100%;height:30px;border-color:lightgray;">
              <div style="text-align:center;">
                <label class="radio-inline"> <input type="radio" name="status" [(ngModel)]="model.status"
                    value="recommend-apc" required #status="ngModel"> APC &nbsp;</label>
                <label class="radio-inline"> <input type="radio" name="status" [(ngModel)]="model.status"
                    value="recommend-bosec" required #status="ngModel"> BOSEC &nbsp;</label>
                <label class="radio-inline"> <input type="radio" name="status" [(ngModel)]="model.status"
                    value="resubmit" required #status="ngModel"> BOS &nbsp;</label>
                <label class="radio-inline"> <input type="radio" name="status" [(ngModel)]="model.status" value="defer"
                    required #status="ngModel"> Other Faculty BOS </label>
              </div>
            </fieldset>
            <div [hidden]="status.valid" class="alert alert-danger">Recommendations status is needed</div>
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-info" (click)="clear();uploader.clearQueue()">Clear</button>
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length || !bosForm.form.valid">
              Submit &nbsp; <i class="fa fa-check"></i></button>
            <!-- <button type="submit" class="btn btn-danger" (click)="backClicked()">Close &nbsp; <i class="fa fa-times"></i></button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>