<div class="card card-body bg-white">

  <h3 class="text-dark text-center"><i class="fa fa-child pull-left text-dark"></i><span
      class="label label-success pull-right">{{extract()?.length || defaultCount}}</span>&nbsp; Recently Approved </h3>
</div>
<div class="card card-body bg-white">
  <div class="text-dark">
    <ul class="list-unstyled">
      @for (item of extract(); track $index) {
      <li>
        <em>{{item.title}}</em>: <small>{{item.faculty}} -- {{item.department}}</small>
      </li>
      }
    </ul>
  </div>
</div>
