<div class="container" style="padding-top:75px">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="login-wrapper">
        <form #consultForm="ngForm">
          <h3 class="form-title-label"> 6.4 NQF Registration</h3>
          <hr class="colorgraph">
          <br>
          <div class="form-group">
            <div class="row px-3"><label for="ProgrammeCode">Programme Code </label><div [hidden]="!showWarning||procode.valid" class="text-danger" style="margin-left: auto;margin-right: 0;"> * - required</div></div>
            <input id="programmeCode" type="text" class="form-control" required [(ngModel)]="model.programmeCode" name="devCode" #procode="ngModel">
            <!-- <div [hidden]="procode.valid" class="alert alert-danger">Proposed Programme Code is required</div> -->
          </div>
          <div class="form-group">
            <div class="row px-3"><label for="qualificationTitle">Qualification Title </label><div [hidden]="!showWarning||qtitle.valid" class="text-danger" style="margin-left: auto;margin-right: 0;"> * - required</div></div>
            <input id="qualificationTitle" type="text" class="form-control" required [(ngModel)]="model.qualificationTitle" name="qtitle" #qtitle="ngModel">
            <!-- <div [hidden]="qtitle.valid" class="alert alert-danger">Proposed Programme Code is required</div> -->
          </div>
          <div class="form-group">
            <div class="row px-3"><label for="nqfId">NQF ID</label><div [hidden]="!showWarning||nqfId.valid" class="text-danger" style="margin-left: auto;margin-right: 0;"> * - required</div></div>
            <input id="nqfId" type="text" class="form-control" required [(ngModel)]="model.nqfId" name="nqfId" #nqfId="ngModel">
            <!-- <div [hidden]="nqfId.valid" class="alert alert-danger">Proposed Programme Code is required</div> -->
          </div>
          <br>
          <div class="form-group">
            <div class="row px-3"><label for="date">Registration Date</label><div [hidden]="!showWarning||cdate.valid" class="text-danger" style="margin-left: auto;margin-right: 0;"> * - required</div></div>
            <div class="input-group">
              <input id="date" type="Date" class="form-control" required [(ngModel)]="model.regDate" ng2-datetime-picker date-only="true"
                name="regDate" placeholder="YYYY-MM-DD" #cdate="ngModel" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <!-- <div [hidden]="cdate.valid" class="alert alert-danger">Registration Date is required</div> -->
          </div>
          <br>
          <!-- <div class="form-group">
            <label for="organisation">Course Name</label>
            <input id="organisation" type="text" class="form-control" required [(ngModel)]="model.courseName" name="courseName" #org="ngModel">
            <div [hidden]="org.valid" class="alert alert-danger">Course Name is required</div>
          </div>
          <br>
          <div class="form-group">
            <label for="organisation">Course Code</label>
            <input id="organisation" type="text" class="form-control" required [(ngModel)]="model.courseCode" name="courseCode" #org="ngModel">
            <div [hidden]="org.valid" class="alert alert-danger">Course Code is required</div>
          </div> -->
          <br>
          <div class="form-group">
            <div class="row px-3"><label for="doc"> Registered Qualification Document: </label> <div [hidden]="!showWarning||uploader.getNotUploadedItems().length" class="text-danger" style="margin-left: auto;margin-right: 0;"> * - required</div></div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label>
                  <span style="height:40px" class="m-0 px-3 py-2 btn btn-primary btn-lg" id="button-addon1">
                    Browse
                    <input class="form-control" #selectedFile type="file" name="check-list" ng2FileSelect [uploader]="uploader" (change)="updateFile()"
                      style="display: none;" />
                  </span>
                </label>
              </div>
              <input style="height:40px" type="text" id="file-name" class="form-control" placeholder="NO FILE SELECTED" aria-describedby="button-addon1"
                readonly>
              <div class="input-group-append">
                <button mdbBtn type="button" color="danger" class="m-0 px-3 py-2" style="height:40px" mdbWavesEffect (click)="removefile();uploader.clearQueue();"
                  [disabled]="!uploader.getNotUploadedItems().length">X</button>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div [hidden]="!showWarning" class="alert alert-danger">Please complete all required fields (Marked as * - required)</div>
            <button type="button" class="btn btn-muted" (click)="clear();uploader.clearQueue();">Clear</button>
            <button type="submit" class="btn btn-success btn-s" (click)="submitInfo(consultForm)" > <!--[disabled]="!uploader.getNotUploadedItems().length || !consultForm.form.valid"-->
              Save </button>
            <!-- <button type="button" class="btn btn-danger" (click)="close()">Close</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>