<div class="container" style="padding-top:70px">
  <div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-3">
      <div class="login-wrapper">
          <form  #concludeForm="ngForm">
              <h3 class="form-title-label">5.1 Final Draft Submission to BOS</h3>
              <hr class="colorgraph">
              <br>
              <div class="form-group">
                  <label for="ProgrammeCode">Proposed Programme Code</label>
                  <input id="programmeCode" type="text" class="form-control" required [(ngModel)]="model.programmeCode"  name="devCode" #procode="ngModel">
                  <div [hidden]="procode.valid" class="alert alert-danger">Proposed Programme Code is required</div>
              </div>
              <br>
              <div class="form-group">
                  <label for="date">Date</label>
                  <div class="input-group">
                      <input id="date" type="Date" class="form-control" required [(ngModel)]="model.bosSubmissionDate" ng2-datetime-picker date-only="true" name="date"
                      placeholder="YYYY-MM-DD" #cdate="ngModel" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                  <div [hidden]="cdate.valid" class="alert alert-danger">Date is required</div>
              </div>
              <br>
             <div class="form-group">
                <label for="doc"> Document type : </label>
                <select class="form-control" name="documentName" id="documentName" required [(ngModel)]="model.documentType" #docType="ngModel">
                  <option [ngValue]="undefined" [disabled]="true">Select the Document type</option>
                  <option *ngFor="let filetag of fileList" value="{{ filetag }}">{{filetag}}</option>
                </select>
                <div [hidden]="docType.valid" class="alert alert-danger">Document type is required</div>
              </div>
              <div class="form-group">
                  <!-- <label for="doc" > Draft Programme: </label> -->
                  <label for="doc" [hidden]="!docType.valid"> Select and Upload : {{this.model.documentType}} </label>
                  <label for="doc" class="text-danger h6" [hidden]="docType.valid"> Please select Document type first </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                    <label>
                      <span style="height:40px" class="m-0 px-3 py-2 btn btn-primary btn-lg" id="button-addon1">
                          Browse&hellip; <input class="form-control" #selectedFile type="file" name="bos-draft" ng2FileSelect [uploader]="uploader" (change)= "updateFile()" style="display: none;"/>
                           <!-- [disabled]="!docType.valid"/> -->
                      </span>
                  </label>
                  </div>
                  <input style="height:40px" type="text" id="file-name" class="form-control" placeholder="NO FILE SELECTED" readonly>
                  <div class="input-group-append">
                    <button mdbBtn type="button" color="danger" class="m-0 px-3 py-2" style="height:40px"
                    mdbWavesEffect (click)="removefile();uploader.clearQueue();" [disabled]="!uploader.getNotUploadedItems().length">X</button>
                  </div>
              </div>
            </div>
            <table class="table table-bordered border-primary">
              <tr >
                <th class="h6">Document Type</th>
                <th class="h6">Selected File name</th>
              </tr>
              <tr *ngFor = "let item of selectedFiles">
                <td class="text-primary">
                  {{item[0]}}
                </td>
                <td class="text-default">
                  <i class="fas fa-file-pdf text-danger"></i>  {{item[1]}}
                </td>
              </tr>
            </table>
              <div class="form-group">
                <button type="submit" class="btn btn-default" (click)="clear();uploader.clearQueue();" >Clear</button>
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length || !concludeForm.form.valid">
              Submit</button>
              </div>
          </form>
      </div>
  </div>
</div>
</div>

<!--reset() {
  this.form.reset();
}-->
