
<div class="container" style="padding-top:70px">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="login-wrapper">
        <form #consultForm="ngForm">
          <h3 class="form-title-label"> 4.1 Start Internal Consultation</h3>
          <hr class="colorgraph">
          <br>
          <div class="form-group">
            <label for="ProgrammeCode">Programme Code</label>
            <input id="programmeCode" type="text" class="form-control" required [(ngModel)]="model.programmeCode" name="devCode" #procode="ngModel">
            <div [hidden]="procode.valid" class="alert alert-danger">Proposed Programme Code is required</div>
          </div>
          <br>
          <div class="form-group">
            <label for="date">Date</label>
            <div class="input-group">
              <input id="date" type="Date" class="form-control" required [(ngModel)]="model.consultationDate" ng2-datetime-picker date-only="true"
                name="consultationDate" placeholder="YYYY-MM-DD" #cdate="ngModel" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <div [hidden]="cdate.valid" class="alert alert-danger">consultationDate is required</div>
          </div>
          <br>
          <div class="form-group">
            <label for="doc"> Drafted Programme: </label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label>
                  <span style="height:40px" class="m-0 px-3 py-2 btn btn-primary btn-lg" id="button-addon1">
                    Browse
                    <input class="form-control" #selectedFile type="file" name="check-list" ng2FileSelect [uploader]="uploader" (change)="updateFile()"
                      style="display: none;" />
                  </span>
                </label>
              </div>
              <input style="height:40px" type="text" id="file-name" class="form-control" placeholder="NO FILE SELECTED" aria-describedby="button-addon1"
                readonly>
              <div class="input-group-append">
                <button mdbBtn type="button" color="danger" class="m-0 px-3 py-2" style="height:40px" mdbWavesEffect (click)="removefile();uploader.clearQueue();"
                  [disabled]="!uploader.getNotUploadedItems().length">X</button>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div style="border:solid 0.6px lightgray;height:38px;" class="rounded">
                <div class="custom-control custom-checkbox custom-control-inline" style="margin-left:10px">
                    <input type="checkbox" class="custom-control-input" id="defaultInline1" [required]="false" name="isWil" [(ngModel)]="model.wil" #wil="ngModel">
                    <label class="custom-control-label" for="defaultInline1">WIL Component</label>
                  </div>
                  <!-- <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline2" required name="isDistance" [(ngModel)]="model.distance" #distance="ngModel">
                    <label class="custom-control-label" for="defaultInline2">Distance Mode</label>
                  </div> -->
            </div>
            <!-- <div [hidden]="model.wil ===true || model.distance ===true" class="alert alert-danger"></div> -->
          </div>
          <br>

        <!-- here -->
        <br>
          <!-- <div class="form-group">
            <label for="doc"> Recommend to: </label>
            <div style="border:solid 0.6px lightgray;height:38px;" class="rounded">
                <div class="custom-control custom-checkbox custom-control-inline" style="margin-left:10px">
                    <input type="checkbox" class="custom-control-input" id="defaultInline5" required name="tla" [(ngModel)]="model.recommendto" #tla="ngModel">
                    <label class="custom-control-label" for="defaultInline5">TL & A </label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline6" required name="ce" 
                    [(ngModel)]="model.recommendto" value="ce" checked
                  required #recommendto="ngModel" mdbInput>>
                    <label class="custom-control-label" for="defaultInline6">CE</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline7" required name="qa" [(ngModel)]="model.recommendto" #qa="ngModel">
                    <label class="custom-control-label" for="defaultInline7">QA</label>
                  </div>
            </div>
            <div [hidden]="model.tla ===true || model.CE ===true || model.QA ===true" class="alert alert-danger">Recommend to atleast one body is required</div>
          </div> -->
          <br>

        <!-- end -->

          <div class="form-group">
            <label class="control-label">Recommend to: </label>
            <div style="border:solid 0.6px lightgray;height:38px;" class="rounded">
              <div class="custom-control custom-radio custom-control-inline" style="margin-left:30%;margin-top:8px">
                <input type="radio" class="custom-control-input" id="defaultInline3" name="status" [(ngModel)]="model.recommendto" value="ceu"
                  required #recommendto="ngModel" mdbInput>
                <label class="custom-control-label" for="defaultInline3">CEU</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline" style="margin-right:20%;margin-top:8px">
                <input type="radio" class="custom-control-input" id="defaultInline4" name="status" [(ngModel)]="model.recommendto" value="coll"
                  required #recommendto="ngModel" mdbInput>
                <label class="custom-control-label" for="defaultInline4">COLL</label>
              </div>
            </div>
            <div [hidden]="recommendto.valid" class="alert alert-danger">Recommend to body is needed</div>
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-default" (click)="clear();uploader.clearQueue();">Cancel</button>
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length || !consultForm.form.valid">
              submit </button>
            <button type="submit" class="btn btn-default" (click)="close()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>