<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-1 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-10 md:size-6 xl:size-8 rounded-full grid place-items-center text-xs lg:text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden md:block md:text-xs"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep==1){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Final Draft to BOS Submission</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="bos_submit.open()">
      BOS Submit
    </button>
  </div>
  <p class="text-gray-700 text-sm">
    On recommendation made by ADS in Stage 4, the department circulate the final draft programme for submission to BOS.
  </p>

  @if(draftToBOS?.stepName){
  <card title=" Final Programme documents" [descriptions]="
    [
      'Date : ' + (draftToBOS.extraData['date'] | date)
    ]" [documents]="draftToBOS?.extraData?.attachments??[]" />
  }@else{
  <p class="text-sm text-primary font-semibold">Final Programme documents not submitted</p>
  }

</div>

<modal #bos_submit>
  <final-draft [pid]="pid" />
</modal>
}

@if(selectedStep==2){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Faculty BOS-Consultation</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="bos_recommend.open()">
      Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    BOS review the draft programme and make recommendations.
  </p>

  @if(bosConsult?.stepName){
  <card title=" BOS Recommendations document" [descriptions]="
    [
      `${bosConsult?.extraData['recommendedTo']?'Recommended To : '+ bosConsult?.extraData['recommendedTo']?.toUpperCase() :''}`,
      `${bosConsult?.extraData['deferTo']?'Defer To : '+ bosConsult?.extraData['deferTo']?.toUpperCase() :''}`,
      'Date : ' + (draftToBOS.extraData['date'] | date)
    ]">
    <action-buttons [actions]="['download']" [fileId]="{name:'BOS Recommendations document',
      id: bosConsult?.extraData['draftFile']}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">BOS Recommendations document not submitted</p>
  }

</div>


<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Other Faculty BOS Consultation (Optional)</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="other_recommend.open()">
      Other Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    This sub stage is only applicable to multi-disciplinary or inter-disciplinary programmes. CDC circulate the draft
    programme to relevant the faculties programmes for recommendations
  </p>

  <div class="flex flex-wrap items-center gap-4">
    @for (item of bosConsult?.extraData['otherFacultyRecommendations']; track $index) {
    <card class="grow" [title]="item['faculty']" [descriptions]="
    [
      `${item['recommendedTo']?'Recommended To : '+ item['recommendedTo']?.toUpperCase() :''}`,
      'Date : ' + (item['date'] | date)
    ]">
      <action-buttons [actions]="['download']" [fileId]="{name:`${item.faculty} Recommendations document`,
      id: item['file']}" />
    </card>
    }@empty{
    <p class="text-sm text-primary font-semibold">Other Faculty Recommendations N/A</p>
    }
  </div>

</div>

<modal #bos_recommend>
  <consultation-faculty-bos-final [pid]="pid" />
</modal>

<modal #other_recommend>
  <consultations-other-faculty-bos [pid]="pid" />
</modal>
}

@if(selectedStep==3){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Academic Planning Committee (APC) Recommedation</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="apc_recommend.open()">
      Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    APC review the draft programme and provide recommendations
  </p>

  @if(apcRecommend?.stepName){
  <card title=" APC Recommendations document" [descriptions]="
    [
      'Decision : '+ apcRecommend?.extraData['decision'],
      'Date : ' + (apcRecommend?.extraData['date'] | date)
    ]">
    <action-buttons [actions]="['download']" [fileId]="{name:'APC Recommendations document',
      id: apcRecommend?.extraData['apcFile']}"
      />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">APC Recommendations document not submitted</p>
  }
</div>

<modal #apc_recommend>
  <consultation-apc-recommend [pid]="pid"></consultation-apc-recommend>
</modal>
}

@if(selectedStep==4){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Senate Recommedation</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="apc_recommend.open()">
      Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    Senate review the draft programme and provide recommendation on approval.
  </p>

  @if(senateRecommend?.stepName){
  <card title=" Final Senate Recommendation documents" [descriptions]="
    [
      'Decision : ' + (senateRecommend?.extraData['decision']),
      'Date : ' + (senateRecommend?.extraData['date'] | date),
    ]" [documents]="senateRecommend?.extraData?.attachments??[]" />
  }@else{
  <p class="text-sm text-primary font-semibold">Senate Recommendations documents not submitted</p>
  }

</div>

<modal #apc_recommend>
  <consultation-final-senate-recommend [pid]="pid"></consultation-final-senate-recommend>
</modal>
}
