<div class="container mx-auto h-[85vh]">
  <div class="flex items-center justify-center h-full">
    <div class="max-w-lg w-full">
      <form (ngSubmit)="postDataToServer()" #startForm="ngForm" class="space-y-3">
        <h3 class="text-2xl">Create A New Programme </h3>
        <!-- <div [hidden]="true" class="form-group">
          <label for="departmentName">Department</label>
          <input id="departmentName" type="text" class="form-control" [(ngModel)]="departmentName"
            placeholder="departmentName" name="department" />
        </div> -->
        <div class="form-control">
          <div class="label">
            <span class="label-text">Proposed Programme title</span>
          </div>
          <input id="programmeName" type="text" class="input input-bordered" required [(ngModel)]="programmeName"
            name="ProgrammeName" #pron="ngModel">
          @if (pron.invalid) {
          <div class="label">
            <span class="label-text">
              Programme title is required
            </span>
          </div>
          }
        </div>

        <div class="form-control">
          <div class="label">
            <span class="label-text">Proposed Programme Code</span>
          </div>
          <input id="programmeCode" type="text" class="input input-bordered" required [(ngModel)]="programmeCode"
            name="devCode" #procode="ngModel">
          @if (procode.invalid) {
          <div class="label">
            <span class="label-text">
              Proposed Programme Code is required
            </span>
          </div>
          }
        </div>


        <div class="form-control w-full">
          <div class="label">
            <span class="label-text">NQF Level</span>
          </div>
          <select class="select select-bordered w-full" title="Select level" required [ngModel]="level"
            (ngModelChange)="changed($event)" name="level" #level="ngModel">
            <option disabled>Select NQF Level</option>
            @for (singleLevel of levels;track singleLevel){
            <option [value]="singleLevel">{{singleLevel}}</option>
            }
          </select>
          @if (level.invalid) {
          <div class="label">
            <span class="label-text">NQF Level required!</span>
          </div>
          }
        </div>
        <div class="form-control gap-2">
          <button type="submit" class="btn btn-primary " [disabled]="!startForm.form.valid">Submit</button>
          <!-- <button type="button" class="btn btn-default " (click)="close()">Cancel</button> -->
        </div>
      </form>
    </div>
  </div>
</div>
