<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-1 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-10 md:size-6 xl:size-8 rounded-full grid place-items-center text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden md:block md:text-xs"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep==1){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">NQF Documentation</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="nqf_start.open()">
      Preparation for NQA Submission
    </button>
  </div>

  <p class="text-sm text-gray-700">
    The CDC prepares the NQF qualification documentation for submission to ADS within 14 working days upon Senate
    approval
  </p>

  @if(nqfDocuments?.stepName){
  <card title="NQF qualification documentation" [descriptions]="
    [
      'Date : ' + (nqfDocuments.extraData['date'] | date),
    ]" [documents]="nqfDocuments?.extraData?.attachments??[]" />
  }@else{
  <p class="text-sm text-primary font-semibold">NQF qualification documents not submitted</p>
  }
</div>

<modal #nqf_start>
  <nqa-preparation [pid]="pid"></nqa-preparation>
</modal>
}

@if(selectedStep==2){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">NQF Submission</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="nqf_submit.open()">
      Preparation for NQA Submission
    </button>
  </div>

  <p class="text-sm text-gray-700">
    ADS review the NQF submission from the department and prepare NQF application documentation for submission.
  </p>

  @if(nqfSubmission?.stepName){
  <card title="NQF Submission documentation" [descriptions]="
    [
      'Decision : ' + (nqfSubmission.extraData['decision']),
      'Submission Type : ' + (nqfSubmission.extraData['submissionType']),
      'Date : ' + (nqfSubmission['date'] | date),
    ]">
    <action-buttons [actions]="['download']" [target]="{name:'NQF Submission document',
      id: nqfSubmission?.extraData['submissionFile']}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">NQF Submission document not submitted</p>
  }
</div>

<modal #nqf_submit>
  <nqf-pdu-recommend [pid]="pid"></nqf-pdu-recommend>
</modal>

}

@if(selectedStep==3){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">NQF Feedback</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="nqf_feedback.open()">
      NQF Feedback
    </button>
  </div>

  <p class="text-sm text-gray-700">
    NQF Feedback information
  </p>

  @if(nqfFeedback?.stepName){
  <card title="NQF Feedback documentation" [descriptions]="
    [
      'Submission Type : ' + (nqfFeedback.extraData['submissionType']),
      'Date : ' + (nqfFeedback['date'] | date),
    ]" [documents]="nqfFeedback?.extraData?.attachments??[]" />
  }@else{
  <p class="text-sm text-primary font-semibold">NQF Feedback documents not submitted</p>
  }
</div>

<modal #nqf_feedback>
  <nqa-submit [pid]="pid"></nqa-submit>
</modal>
}

@if(selectedStep==4){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">NQF Registration</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="nqf_reg.open()">
      NQF Registration
    </button>
  </div>

  <p class="text-sm text-gray-700">
    ADS submits a complete application to the Namibia Qualification Authority(NQA) for registration on the National
    Qualification Framework(NQF)
  </p>

  @if(nqfRegistration?.stepName){
  <card title="NQF qualification documentation" [descriptions]="
    [
      'Qualification Title : ' + (nqfRegistration.extraData['qualificationTitle']),
      'NQF ID : ' + (nqfRegistration.extraData['nqfId']),
      'Registration Date : ' + (nqfRegistration.extraData['date'] | date),
    ]">
    <action-buttons [actions]="['download']" [target]="{name:'NQF qualification documentation',
      id: nqfRegistration?.extraData['nqfRegistrationFile']}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">NQF Registration document not submitted</p>
  }
</div>

<modal #nqf_reg>
  <nqa-registration [pid]="pid"></nqa-registration>
</modal>
}
