<div class="container" style="padding-top:70px">
  <div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-3">
      <div class="login-wrapper">
          <form  #bosForm="ngForm">
              <h3 class="form-title-label"> 5.3 Other Faculty Bos -- Consultation(optional)</h3>
              <hr class="colorgraph">
              <br>
              <div class="form-group">
                  <label for="ProgrammeCode">Programme Code</label>
                  <input id="programmeCode" type="text" class="form-control" required [(ngModel)]="model.programmeCode"  name="devCode" #procode="ngModel">
                  <div [hidden]="procode.valid" class="alert alert-danger">Proposed Programme Code is required</div>
              </div>
              <br>
              <div class="form-group">
                <label for="OtherFacultyName">Other Faculty Name</label>
                <input id="OtherFacultyName" type="text" class="form-control" required [(ngModel)]="model.OtherFacultyName"  name="OtherFacultyName" #othercode="ngModel">
                <div [hidden]="othercode.valid" class="alert alert-danger">Other Faculty Name  is required</div>
            </div>
            <br>
              <div class="form-group">
                  <label for="date">BOS Date</label>
                  <div class="input-group">
                      <input id="date" type="Date" class="form-control" required [(ngModel)]="model.consultationDate" ng2-datetime-picker date-only="true" name="date"
                      placeholder="YYYY-MM-DD" #cdate="ngModel" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                  <div [hidden]="cdate.valid" class="alert alert-danger">Consultation Date is required</div>
              </div>
             <br>
               <div class="form-group">
                  <label for="doc" > Programme Draft:  </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                    <label>
                      <span style="height:40px" class="m-0 px-3 py-2 btn btn-primary btn-lg" id="button-addon1">
                          Browse&hellip; <input class="form-control" #selectedFile type="file" name="recommendation" ng2FileSelect [uploader]="uploader" (change)= "updateFile()" style="display: none;"/>
                      </span>
                  </label>
                  </div>
                  <input style="height:40px" type="text" id="file-name" class="form-control" placeholder="NO FILE SELECTED" readonly>
                  <div class="input-group-append">
                    <button  mdbBtn type="button" color="danger" class="m-0 px-3 py-2" style="height:40px"
                    mdbWavesEffect (click)="removefile();uploader.clearQueue();" [disabled]="!uploader.getNotUploadedItems().length">X</button>
                  </div>
              </div>
              <br>
              <div class="form-group">
                <label class="control-label">Recommended to: </label>
                <div style="border:solid 0.6px lightgray;height:38px;" class="rounded">
                  <div class="custom-control custom-radio custom-control-inline" style="margin-left:30%;margin-top:8px">
                    <input type="radio" class="custom-control-input" id="defaultInline1" name="recommendTo" [(ngModel)]="model.recommendTo" value="apc"
                      required #recommendTo="ngModel" mdbInput>
                    <label class="custom-control-label" for="defaultInline1">APC</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline" style="margin-right:20%;margin-top:8px">
                    <input type="radio" class="custom-control-input" id="defaultInline2" name="recommendTo" [(ngModel)]="model.recommendTo" value="BOSEC"
                      required #recommendTo="ngModel" mdbInput>
                    <label class="custom-control-label" for="defaultInline2">BOSEC</label>
                  </div>
                </div>
                <div [hidden]="recommendTo.valid" class="alert alert-danger">Recommendation is required</div>
              </div>
              
               </div>
               <br>
              <div class="form-group">
                <button type="submit" class="btn btn-default" (click)="clear();uploader.clearQueue()" >Clear</button>
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length || !bosForm.form.valid">
              Submit </button>
              <!-- <button type="submit" class="btn btn-default" (click)="close()" >Close</button> -->
              </div>
          </form>
      </div>
  </div>
</div>
</div>