<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-2 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-8 rounded-full grid place-items-center text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden sm:block"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep ===1){
<div class="my-4 space-y-4">
  <div class="flex justify-between">
    <h2 class="text-2xl">CDC and PAC Appointment</h2>
    <!-- <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="my_modal_2.showModal()"
      (click)="setProgramme()">
      Mark Complete
    </button> -->
  </div>

  <p class="text-sm text-gray-700">
    The department identifies and appoint the Curriculum Development Coordinator (CDC) who will facilitates the
    appointment of Programme Advisory Committee (PAC) members in consultation with PDQA.
  </p>

  <div class="flex justify-between">
    <h2 class="text-xl">Curriculum Development Coordinators</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="appoint_cdc.showModal()">
      Appoint CDC
    </button>
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(stake of coordinators; track stake.email){
    <div class="border-2 border-primary py-2 px-2 rounded-lg w-full relative">
      <div class="flex flex-col -gap-2">
        <span class="text-base">{{stake.name}}</span>
        <span class="text-xs text-gray-500">{{stake.email}}</span>
        <span class="text-xs text-gray-500">Faculty: {{stake.faculty}}</span>
        <span class="text-xs text-gray-500">Department: {{stake.department}}</span>
      </div>
      <action-buttons></action-buttons>
    </div>
    }@empty {
    <p class="text-sm text-primary">No Coordinator</p>
    }

  </div>

  <div class="flex justify-between">
    <h2 class="text-xl">Programme Advisory Committee</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="appoint_pac.showModal()">
      Appoint PAC
    </button>
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(stake of advisory_committee; track stake.email){
    <div class="border-2 border-primary py-2 px-2 rounded-lg w-full relative">
      <div class="flex flex-col -gap-2">
        <span class="text-base">{{stake.name}}</span>
        <span class="text-xs text-gray-500">{{stake.email}}</span>
      </div>
      <action-buttons></action-buttons>
    </div>
    }@empty {
    <p class="text-sm text-primary">Programme Advisory Committee (PAC) members</p>
    }

  </div>

</div>

<dialog id="appoint_cdc" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <pd-cdc [code]="code"></pd-cdc>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="appoint_pac" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <pd-pac [code]="code"></pd-pac>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<!-- Edit Stakeholder Modal -->
<!-- <dialog id="stakeholder_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-2xl">Edit Programme </h3>

    <form (ngSubmit)="updateProgramme()" #startForm="ngForm" class="space-y-3">
      <div class="form-control">
        <div class="label">
          <span class="label-text">Name</span>
        </div>
        <input id="name" type="text" class="input input-bordered" required [(ngModel)]="stakeholder.name" name="name"
          #name="ngModel">
        @if (name.invalid) {
        <div class="label">
          <span class="label-text">
            name is required
          </span>
        </div>
        }
      </div>

      <div class="form-control">
        <div class="label">
          <span class="label-text">Proposed Programme Code</span>
        </div>
        <input id="email" type="email" class="input input-bordered" required [(ngModel)]="stakeholder.email"
          name="email" #email="ngModel">
        @if (email.invalid) {
        <div class="label">
          <span class="label-text">
            email is required
          </span>
        </div>
        }
      </div>

      <div class="form-control gap-2">
        <button type="submit" class="btn btn-primary " [disabled]="!startForm.form.valid">Add</button>
      </div>
    </form>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog> -->

}


@if(selectedStep ===2){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Curriculum Drafting</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="draft_pdqa.showModal()">
      Submit Draft to PDQA
    </button>
  </div>

  <p class="text-sm text-gray-700">
    CDC develop the draft programme and submits to PDQA for review.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Recommendations</span>
      <span class="text-xs text-gray-500">Decision: Deferred</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <div class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </div>
  </div>
</div>


<dialog id="draft_pdqa" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <pd-curriculum-revise [code]="code"></pd-curriculum-revise>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}

@if(selectedStep ===3){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Draft Curriculum and PDQA Recommendation</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="pdqa_approval.showModal()">
      Recommendations
    </button>
  </div>

  <p class="text-sm text-gray-700">
    PDQA review and provide recommendation on the draft programme.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Recommendations</span>
      <span class="text-xs text-gray-500">Decision: Deferred</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>
    <div class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </div>
  </div>
</div>

<dialog id="pdqa_approval" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <pd-curriculum-dev-draft-pdu-approval [code]="code"></pd-curriculum-dev-draft-pdu-approval>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}
