@if(false){
<div class="carousel w-full">
  <div id="slide1" class="carousel-item relative w-full">
    <video class="video-fluid w-full h-full" autoplay loop>
      <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
    </video>

    <!--Caption-->
    <div
      class="carousel-caption text-white absolute inset-0 m-auto flex-center z-20 container w-full h-full grid place-items-center">
      <div class="animate flex flex-col justify-center items-center max-w-2xl mx-auto gap-4">
        <h3 class="text-3xl font-bold"> Welcome to Programme Development Application</h3>
        <p class="text-center font-thin">
          The Programme Development (PD) App is a centralised digitalised solution,
          encompassing curriculum management, development, maintenance, and modernisation
          of the curriculum through processes of ideation, reviews and approvals leading
          to registration of qualifications on the NQF. More so, the app is designed to
          keep records of the stages through which a programme is subjected to.
          The app is designed such that it send out reminders on the status quo e.g on
          the scheduled review date for existing programmes while keeping all the
          communication between the department and PDU as well as with other
          stakeholders such industry, professional bodies and other universities.
        </p>
        <div class="flex gap-2">
          <a routerLink='/about-us' class="btn btn-outline text-white">Learn about PDU</a>
          <a routerLink='/login' [hidden]="loggedIn()" class="btn btn-secondary"> &nbsp;&nbsp;Login&nbsp;&nbsp;</a>
        </div>
      </div>
    </div>

    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>

  <div id="slide2" class="carousel-item relative w-full">
    <video class="video-fluid w-full h-full border" autoplay loop>
      <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
    </video>

    <!--Caption-->
    <div
      class="carousel-caption text-white absolute inset-0 m-auto flex-center z-20 container w-full h-full grid place-items-center">
      <div class="animate flex flex-col justify-center items-center max-w-2xl mx-auto gap-4">
        <h3 class="text-3xl font-bold">Welcome to the PDQA</h3>
        <p class="text-center font-thin">
          The Department of Programme Development and Quality Assurance is responsible for leading, coordinating and
          managing all programme development activities (both new and revised programmes) up to the point of
          registration of the resultant qualifications on the National Qualifications Framework (NQF)
        </p>
        <div class="flex gap-2">
          <a routerLink='/about-us' class="btn btn-outline text-white">Learn about PDU</a>
          <a routerLink='/login' [hidden]="loggedIn()" class="btn btn-secondary"> &nbsp;&nbsp;Login&nbsp;&nbsp;</a>
        </div>
      </div>
    </div>

    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>

</div>
}

<!-- <video class="video-fluid" autoplay loop>
  <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
</video>

<video class="video-fluid" autoplay loop>
  <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
</video> -->
@if (false){
<div class="container-fluid mx-auto bg-warning">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <!--button type="button" class="btn btn-success btn-lg btn-block">Resume Programme</button -->
              <div class="row">
                <div class="col-lg-offset-3 col-lg-6">
                  <div class="input-group">
                    <!-- select class="selectpicker show-tick form-control input-lg" title="Select Programme" -->
                    <select class="selectpicker show-tick form-control input-lg" title="Select Programme"
                      [ngModel]="programme" (ngModelChange)="changed($event)">
                      <option value="Select programme"></option>
                      <option *for="let programme of programmes" [value]="programme">{{programme}}</option>
                    </select>
                    <span class="input-group-btn">
                      <a routerLink='/resume' class="btn btn-success btn-lg" type="button">
                        <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>
                        RESUME</a>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Apppend input group -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <select class="custom-select-lg browser-default" title="Select Programme" [ngModel]="programme"
                    (ngModelChange)="changed($event)">
                    <option selected>Select programme</option>
                    <option *for="let programme of programmes" [value]="programme">{{programme}}</option>
                  </select>
                </div>
                <div class="input-group-append">
                  <button routerLink='/resume' class="btn btn-md btn-info m-0 px-3 py-2 z-depth-0 waves-effect"
                    type="button" id="button-addon2">
                    <i class="fas fa-edit fa-2x btn"></i>Getting Started</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
}

@if (false){
<div class="my-4 py-10 container mx-auto flex justify-center">

  <!-- <div class="col-md-4 bg-muted">
          <course-due-for-review></course-due-for-review>
        </div> -->

  <div class="space-y-4 w-full md:w-96">
    <article class="rounded-lg border border-gray-100 bg-white p-6">
      <div class="flex items-center justify-between">
        <div>
          <p class="text-sm text-gray-500">Recently Approved</p>

          <p class="text-2xl font-medium text-gray-900">400</p>
        </div>

        <span class="rounded-full bg-primary/10 p-3 text-primary">
          <svg class="size-8" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor">
            <path d="M1.5 12.5L5.57574 16.5757C5.81005 16.8101 6.18995 16.8101 6.42426 16.5757L9 14" stroke="#000000"
              stroke-width="1.5" stroke-linecap="round"></path>
            <path d="M16 7L12 11" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
            <path d="M7 12L11.5757 16.5757C11.8101 16.8101 12.1899 16.8101 12.4243 16.5757L22 7" stroke="#000000"
              stroke-width="1.5" stroke-linecap="round"></path>
          </svg>
        </span>
      </div>

    </article>

    <article class="rounded-lg border border-gray-100 bg-white p-6">
      <div class="flex items-center justify-between">
        <div>
          <p class="text-sm text-gray-500">In Progress</p>

          <p class="text-2xl font-medium text-gray-900">0</p>
        </div>

        <span class="rounded-full bg-primary/10 p-3 text-blue-600">

          <svg class="size-8" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.1679 8C19.6247 4.46819 16.1006 2 11.9999 2C6.81459 2 2.55104 5.94668 2.04932 11"
              stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M17 8H21.4C21.7314 8 22 7.73137 22 7.4V3" stroke="#000000" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M2.88146 16C4.42458 19.5318 7.94874 22 12.0494 22C17.2347 22 21.4983 18.0533 22 13"
              stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M7.04932 16H2.64932C2.31795 16 2.04932 16.2686 2.04932 16.6V21" stroke="#000000" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </span>
      </div>

    </article>
  </div>

  <!-- <div class="col-md-4">
    <course-in-progress></course-in-progress>
  </div>

  <div class="col-md-4">
    <course-recently-approved></course-recently-approved>
  </div> -->

</div>
}


<div class="p-4 bg-primary space-y-3 text-base-100">

  <h3 class="capitalize">{{greetingMessage}}</h3>

  <h2 class="text-3xl font-bold capitalize">Mr Isaac Makosa</h2>

  <div class="space-y-1">
    <span class="text-xs">Overview</span>
    <div class="flex gap-6">

      <div class="flex items-center gap-2">
        <div class="grid place-items-center w-10 h-10 bg-gray-500/30 rounded-lg">
          <span class="material-symbols-rounded">
            account_balance
          </span>
        </div>
        <div class="flex flex-col gap-0.5">
          <span class="text-xs">Faculty</span>
          <span class="text-lg capitalize">Engineering</span>
        </div>
      </div>


      <div class="flex items-center gap-2">
        <div class="grid place-items-center w-10 h-10 bg-gray-500/30 rounded-lg">
          <span class="material-symbols-rounded ">
            lan
          </span>
        </div>
        <div class="flex flex-col">
          <span class="text-xs">Department</span>
          <span class="text-lg capitalize">Computer Science</span>
        </div>
      </div>

      <div class="flex items-center gap-2">
        <div class="grid place-items-center w-10 h-10 bg-gray-500/30 rounded-lg">
          <span class="material-symbols-rounded ">
            school
          </span>
        </div>
        <div class="flex flex-col">
          <span class="text-xs">{{user==='PDU'? "Approved Programs": "Programs"}}</span>
          <span class="text-lg capitalize">10</span>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="p-4 flex items-start gap-8">

  <div class="space-y-8 flex-grow">
    @if(user==='PDU'){
    <div class="space-y-4">
      <h2 class="text-lg lg:text-3xl font-light">Programme Management Tools</h2>
      <div class="flex items-center gap-2">
        @for (program of programmeTools;track programme; let i= $index;){
        <div class="bg-secondary text-gray-800 py-1 px-2 text-sm rounded-md">
          {{ program}}
        </div>
        }
      </div>
    </div>
    }

    <div class="flex justify-between items-start">
      <h2 class="text-lg lg:text-3xl font-light">{{user==='PDU'?'':'Your'}} Programmes</h2>
      <div class="flex items-center gap-2">
        <button class="btn btn-sm btn-outline">
          View All
          <!-- <span class="material-symbols-rounded">
          open_in_full
        </span>-->
        </button>
        @if(user==='LEC'){
        <button class="btn btn-sm btn-primary" routerLink="/StartNeedAnalysis">Add</button>
        }
      </div>
    </div>

    <div class="grid md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4">
      @for (item of programmes; track item.programme) {
      <a class="group relative block h-fit rounded-lg" [routerLink]="['/programme/', item.id]">
        <span class="absolute inset-0 border-2 border-dashed border-primary rounded-lg"></span>
        <div
          class="relative flex h-full transform items-end border-2 border-primary bg-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2 rounded-lg">
          <div class="p-4 !pt-0 transition-opacity sm:p-6">

            <h2 class=" mt-4 font-medium sm:text-xl line-clamp-1">{{item.programme}}</h2>

            <div class="flex flex-col">
              <span class="text-xs">Stage: {{item.stage}}</span>
              <span class="text-xs line-clamp-2">Required Actions:
                @for (it of item.actions; track it; let i = $index){
                <span class="text-xs">{{it}}
                  @if(i < item.actions.length - 1) { <span class="text-xs">,</span>}
              </span>
              }
              </span>
            </div>
          </div>

          <!-- <div class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100">
            <h3 class="mt-4 text-lg font-medium sm:text-xl capitalize">{{item.programme}}</h3>

            <p class="mt-4 text-xs sm:text-sm line-clamp-2">
              {{item.description}}
            </p>

            <div class="avatar-group -space-x-6 transition-all hover:space-x-1 rtl:space-x-reverse">

              <div class="avatar placeholder">
                <div class="bg-primary text-neutral-content w-8">
                  <span>UP</span>
                </div>
              </div>
              <div class="avatar placeholder">
                <div class="bg-primary text-neutral-content w-8">
                  <span>MS</span>
                </div>
              </div>
              <div class="avatar placeholder">
                <div class="bg-primary text-neutral-content w-8">
                  <span>+2</span>
                </div>
              </div>

            </div>

            <p class="mt-8 font-bold">Read more</p>
          </div> -->
        </div>
      </a>
      } @empty {
      <div class="text-center">No programmes available</div>
      }

    </div>

    <div class="space-y-6">
      <h2 class="text-lg lg:text-3xl font-light">{{user==="PDU"?"Recent Updates":"Programmes Due for Review"}}</h2>
      <client-programme-table [programmes]="programmes" />
    </div>

  </div>

  <!-- Upcoming Events -->
  <div class="w-96 hidden lg:block space-y-4">

    <div class="space-y-4">

      <div class="flex items-center justify-between">
        <h3 class="text-lg">{{currentMonth}}</h3>
        <div class="flex items-center">
          <span class="material-symbols-rounded cursor-pointer hover:scale-105 hover:translate-x-1 transition-all">
            chevron_backward
          </span>
          <span class="material-symbols-rounded cursor-pointer hover:scale-110 hover:translate-x-1 transition-all">
            chevron_forward
          </span>
        </div>
      </div>

      <div class="flex gap-2">
        @for(item of dates; track item.date){
        <div class="w-10 h-10 flex flex-col justify-center items-center rounded-md bg-primary text-white">
          <span class="text-[.5rem]">{{item.day}}</span>
          <span class="text-base">{{item.dayOfMonth}}</span>
        </div>
        }
      </div>
    </div>

    <div class="space-y-4">
      <div class="flex justify-between items-center">
        <h3 class="text-lg">Upcoming Events</h3>
        <button class="btn btn-xs btm-nav-label">View All</button>
      </div>

      <div class="bg-gray-50 rounded-lg h-full max-h-lvh p-2 space-y-2">

        @for (item of [1,3,45,55,65,6]; track item){
        <div class="bg-gray-100 rounded-lg p-2 hover:bg-primary hover:text-white cursor-pointer transition-all">
          <h5 class="text-sm">Draft Curriculum Submission</h5>
          <span class="text-xs">23:45</span>
        </div>
        }

      </div>
    </div>

  </div>


</div>
