<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps; track step.title; let i= $index; ){
    <li class="flex items-center gap-2 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-8 rounded-full grid place-items-center text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'">
        {{i+1}} </span>
      <span class="hidden sm:block"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep==1){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Final Draft to BOS Submission</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="bos_submit.showModal()">
      BOS Submit
    </button>
  </div>
  <p class="text-gray-700 text-sm">
    On recommendation made by ADS in Stage 4, the department circulate the final draft programme for submission to BOS.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Draft Version 1</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="bos_submit" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <!-- <tlu-ceu-qa-start [code]="code"></tlu-ceu-qa-start> -->
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}

@if(selectedStep==2){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Faculty BOS-Consultation</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="bos_recommend.showModal()">
      Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    BOS review the draft programme and make recommendations.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Recommendations</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>


<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Other Faculty BOS Consultation (Optional)</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="other_recommend.showModal()">
      Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    This sub stage is only applicable to multi-disciplinary or inter-disciplinary programmes. CDC circulate the draft
    programme to relevant the faculties programmes for recommendations
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Recommendations</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="bos_recommend" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <!-- <tlu-ceu-qa-start [code]="code"></tlu-ceu-qa-start> -->
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="other_recommend" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <!-- <tlu-ceu-qa-start [code]="code"></tlu-ceu-qa-start> -->
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}

@if(selectedStep==3){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Academic Planning Committee (APC) Recommedation</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="apc_recommend.showModal()">
      Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    APC review the draft programme and provide recommendations
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Draft Version 1</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="apc_recommend" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <!-- <tlu-ceu-qa-start [code]="code"></tlu-ceu-qa-start> -->
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}

@if(selectedStep==4){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Senate Recommedation</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="apc_recommend.showModal()">
      Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    Senate review the draft programme and provide recommendation on approval.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Recommedation</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="apc_recommend" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <!-- <tlu-ceu-qa-start [code]="code"></tlu-ceu-qa-start> -->
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}
