<div class="programmes-nav">
  <a routerLink="need-analysis">
    <div routerLinkActive="selected">
      <span>Need Analysis</span>
    </div>
  </a>

  <a routerLink="programme-development">
    <div routerLinkActive="selected">
      <span>Programme Development</span>
    </div>
  </a>

  <a routerLink="external-stakeholders-consultations">
    <div routerLinkActive="selected">
      <span>External Stakeholders Consultations</span>
    </div>
  </a>

  <a routerLink="internal-stakeholders-consultations">
    <div routerLinkActive="selected">
      <span>Internal Stakeholders Consultations</span>
    </div>
  </a>

  <a routerLink="bos-apc-senate-consultations">
    <div routerLinkActive="selected">
      <span>BOS, APC and Senate Consultations</span>
    </div>
  </a>

  <a routerLink="nqf-registration">
    <div routerLinkActive="selected">
      <span>NQF Registration</span>
    </div>
  </a>
</div>
