<div class="min-h-screen flex flex-col">
  <!--Navbar-->
  <div class="navbar !bg-primary text-white h-fit">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-[#1b2c5d] rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a routerLink='/home' routerLinkActive="active" class="active:btn-secondary">Home</a></li>
          <!-- <li><a routerLink='/resume'>Getting Started</a></li> -->
          <li><a routerLink='/tutorials' routerLinkActive="active">Tutorials</a></li>
          <li><a routerLink='/our-team' routerLinkActive="active">Team</a></li>
          <li><a routerLink='/about-us' routerLinkActive="active">About Us</a></li>
        </ul>
      </div>
      <img alt="NUST logo" src="/logo.png" class="h-6 ml-4" />
      <a routerLink="/home" class="btn btn-ghost text-xl ml-2">PDQA</a>
      <span class="hidden lg:block">|</span>
      <div class="hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a routerLink='/home' routerLinkActive="active" class="active:btn-secondary">Home</a></li>
          <!-- <li [hidden]="!loggedIn()" routerLinkActive="active"><a routerLink='/resume'>Getting Started</a></li> -->
          <li><a routerLink='/tutorials' routerLinkActive="active">Tutorials</a></li>
          <li><a routerLink='/our-team' routerLinkActive="active">Team</a></li>
          <li><a routerLink='/about-us' routerLinkActive="active">About Us</a></li>
        </ul>
      </div>
    </div>


    <div class="navbar-end items-center">

      @if(currentUser){
      <details class="dropdown dropdown-bottom dropdown-left ml-4">
        <summary class="btn btn-ghost btn-circle">
          <div class="avatar avatar-placeholder !hover:bg-transparent">
            <div class="bg-transparent text-white size-10 p-0 flex items-center justify-center rounded-full">
              <span class="material-symbols-rounded">
                notifications
              </span>
            </div>
          </div>
        </summary>

        <ul class="bg-white text-black rounded-box dropdown-content z-1 w-96 mt-3 p-4 shadow">
          <li class="max-h-[55vh] overflow-y-auto">
            <div class="space-y-2">

              <div class="sticky space-y-2 top-0 z-50 backdrop-blur-lg">
                <div class="flex justify-between items-center">
                  <h3 class="text-lg">Notifications</h3>
                  <button class="btn btn-sm btn-ghost">Mark all as read</button>
                </div>

                <div class="flex items-center justify-between">
                  <div role="tablist" class="tabs tabs-border tabs-xs">
                    <a role="tab" class="tab tab-active">All</a>
                    <a role="tab" class="tab">Planning</a>
                    <a role="tab" class="tab">Development</a>
                    <a role="tab" class="tab">Consultations</a>
                    <!-- <a role="tab" class="tab">Governance & Approvals</a>
                  <a role="tab" class="tab">Accreditation</a> -->
                  </div>
                  <a role="tab" class="tab">
                    <span class="material-symbols-rounded transition-all hover:rotate-45">
                      settings
                    </span>
                  </a>
                </div>

              </div>

              <div class="">
                @for(notification of notifications; track notification.id){
                <details class="collapse !rounded-none">
                  <summary class="collapse-title !p-2">
                    <div class="flex gap-4 items-center w-full">
                      <div class="avatar avatar-placeholder">
                        <div class="bg-gray-100 text-primary w-8 mask mask-squircle">
                          <span class="text-xs">{{notification.code}}</span>
                        </div>
                      </div>
                      <div class="flex flex-col flex-auto">
                        <span class="font-semibold text-primary/95 text-sm">{{notification.name}}</span>
                        <span class="text-xs text-gray-500">{{notification.date}}</span>
                      </div>
                    </div>
                  </summary>
                  <div class="collapse-content text-xs">
                    {{notification.description}}
                  </div>
                </details>
                }
                @empty {
                <div class="flex justify-center items-center">
                  No notifications
                </div>
                }
              </div>
            </div>
          </li>
        </ul>

      </details>
      <details class="dropdown dropdown-bottom dropdown-left">
        <summary class="btn btn-ghost btn-circle">
          <div class="avatar avatar-placeholder">
            <div class="bg-white text-primary size-10 p-0 flex items-center justify-center rounded-full">
              <span class="uppercase text-xl">
                {{currentUser?.firstName?.slice(0,1)}}{{currentUser?.lastName?.slice(0,1)}}
              </span>
            </div>
          </div>
        </summary>

        <ul class="menu menu-sm bg-white text-black rounded-box dropdown-content z-1 w-64  mt-3 p-4 shadow">
          <li>
            <div class="flex items-center flex-col gap-1 justify-center">
              <div class="avatar avatar-online avatar-placeholder">
                <div class="bg-neutral text-neutral-content w-16 rounded-full">
                  <span
                    class="text-xl">{{currentUser?.firstName?.slice(0,1)}}{{currentUser?.lastName?.slice(0,1)}}</span>
                </div>
              </div>
              <span class="text-lg">{{currentUser?.firstName}} {{currentUser?.lastName}}</span>
              <span class="text-xs">{{currentUser?.email}}</span>
              <span class="text-sm">{{currentUser?.role}}</span>
              <span class="text-xs">{{currentUser?.role}}</span>
            </div>
          </li>
          <!-- <hr> -->

          <div class="join join-horizontal my-2 justify-center">
            <button class="btn join-item">Settings</button>
            <button class="btn join-item" (click)="logout()">Logout</button>
          </div>
        </ul>

      </details>
      }@else {
      <a routerLink='/login' routerLinkActive="active" class="btn btn-secondary btn-sm btn-outline px-5">Login</a>
      }
    </div>

  </div>
  <!--/.Navbar-->

  <!--Main layout-->
  <div class="flex-grow">
    <router-outlet></router-outlet>
  </div>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer bottom text-white bg-primary">
    <!--Call to action-->
    <div class="container mx-auto">
      <div class="py-4">
        <div class="space-y-2">
          <p class="text-center text-xs">
            <a href="#">Terms of Service</a> | <a href="#">Privacy</a> | <a href="#">Help</a>
          </p>
          <p class="text-center text-xs">
            Copyright &copy; {{ currentYear }} Programme Development and Quality Assurance at the Namibia University of
            Science and Technology (NUST). All rights reserved
          </p>
        </div>
      </div>
    </div>
    <!--/.Call to action-->

    <!-- Social icons -->
    <!-- <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div> -->
    <!-- Social icons -->
  </footer>
  <!--/.Footer-->
</div>
