<div class="grid items-stretch gap-3 md:grid-cols-3 2xl:grid-cols-4">
  @for (item of [1,2,3,4]; track $index) {
  <div class="p-4 border border-base-300 bg-base-100 min-h-40 shadow-sm transition-all rounded-lg hover:shadow-md duration-300 space-y-4">
    <div class="flex gap-2 items-center">
      <div class="skeleton rounded-md h-5 w-7/12"></div>
      <div class="skeleton rounded-md h-5 w-3/12"></div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="skeleton rounded-md h-3 w-8/12"></div>
      <div class="skeleton rounded-md h-3 w-6/12"></div>
      <div class="skeleton rounded-md h-3 w-4/12"></div>
    </div>
  </div>
  }
</div>
