<div class="container" style="padding-top:55px">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="login-wrapper">
        <form #senateForm="ngForm">
          <h3 class="form-title-label">1.5 APC Recommendation</h3>
          <hr class="colorgraph">
          <br>
          <div class="form-group">
            <label for="ProgrammeCode">Proposed Programme Code</label>
            <input id="programmeCode" type="text" class="form-control" required [(ngModel)]="model.programmeCode" name="devCode" #procode="ngModel">
            <div [hidden]="procode.valid" class="alert alert-danger">Proposed Programme Code is required</div>
          </div>
          <br>
          <div class="form-group">
            <label for="date">Consultation Date</label>
            <div class="input-group">
              <input id="date" type="Date" class="form-control" required [(ngModel)]="model.consultationDate" ng2-datetime-picker date-only="true"
                name="consultationDate" placeholder="YYYY-MM-DD" #cdate="ngModel" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <div [hidden]="cdate.valid" class="alert alert-danger">consultationDate is required</div>
          </div>
          <br>
          <div class="form-group">
            <label for="doc"> Recomendations: </label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label>
                  <span style="height:40px" class="m-0 px-3 py-2 btn btn-primary btn-lg" id="button-addon1">
                    Browse
                    <input class="form-control" #selectedFile type="file" name="apc" ng2FileSelect [uploader]="uploader" (change)="updateFile()"
                      style="display: none;" />
                  </span>
                </label>
              </div>
              <input style="height:40px" type="text" id="file-name" class="form-control" placeholder="NO FILE SELECTED" aria-describedby="button-addon1"
                readonly>
              <div class="input-group-append">
                <button mdbBtn type="button" color="danger" class="m-0 px-3 py-2" style="height:40px" mdbWavesEffect (click)="removefile();uploader.clearQueue();"
                  [disabled]="!uploader.getNotUploadedItems().length">X</button>
              </div>
            </div>
          </div>
          
           
          <br>
          <div class="form-group">
            <label class="control-label">Decision: </label>
            <div style="border:solid 0.6px lightgray;height:38px;" class="rounded">
              <div class="custom-control custom-radio custom-control-inline" style="margin-left:30%;margin-top:8px">
                <input type="radio" class="custom-control-input" id="status1" name="status" [(ngModel)]="model.status" value="approve" required #status="ngModel" mdbInput>
                <label class="custom-control-label" for="status1">recommend</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline" style="margin: right 50px;margin-top:8px">
                <input type="radio" class="custom-control-input" id="status2" name="status" [(ngModel)]="model.status" value="decline" required #status="ngModel" mdbInput>
                <label class="custom-control-label" for="status2">Decline</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline" style="margin: right 30px;margin-top:8px">
                <input type="radio" class="custom-control-input" id="status3" name="status" [(ngModel)]="model.status" value="defer" required #status="ngModel" mdbInput>
                <label class="custom-control-label" for="status3">Defer</label>
              </div>
            </div>
            <div [hidden]="status.valid" class="alert alert-danger">APC/ Senate Decision  is required</div>
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-default" (click)="clear();uploader.clearQueue()">
              <i class="fa fa-refresh"></i> Clear All</button>
            <button routerLink="/senate" type="button" class="btn btn-success" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length || !senateForm.form.valid">
              <i class="fa fa-check"></i> Submit </button>
            <button type="submit" class="btn btn-danger" (click)="close()">
              <i class="fa fa-close"></i> Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
