.animated-text {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(90deg, #1b2c5d, #da2127, #1b2c5d);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: slide-bg 30s ease-in-out infinite;
}

@keyframes slide-bg {
  0% {
    background-position: 0%
  }

  50% {
    background-position: 100%
  }

  100% {
    background-position: 0%
  }
}

.hero-background {
  background-image: url('/assets/images/bg-8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
