.animated-text {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(90deg, #1b2c5d, #da2127, #1b2c5d);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: slide-bg 30s ease-in-out infinite;
}

@keyframes slide-bg {
  0% {
    background-position: 0%
  }

  50% {
    background-position: 100%
  }

  100% {
    background-position: 0%
  }
}

.hero-background {
  background-image: url('/assets/images/bg-8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes floatAnim {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
    color: #1b2c5d;
  }

  25% {
    transform: translate(5px, -5px) rotate(20deg) scale(1.05);
    color: #fcaf17;
  }

  50% {
    transform: translate(-5px, 5px) rotate(-15deg) scale(1);
    color: #da2128;
  }

  75% {
    transform: translate(5px, 5px) rotate(5deg) scale(1.1);
    color: #1b2c5d;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
    color: #da2128;
  }
}

.animate-float {
  animation: floatAnim;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#myPath {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 10s ease-in-out alternate-reverse infinite;
}

#myPath1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw1 10s ease-in-out alternate-reverse infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw1 {
  to {
    stroke-dashoffset: 0;
  }
}

