<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-1 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-10 md:size-6 xl:size-8 rounded-full grid place-items-center text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden md:block md:text-xs"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep==1){
<div class="space-y-4 my-6">
  <div class="flex justify-between gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Circulation of Draft Programme</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="draft_programme.open()">
      Upload draft Programme to start PAC Consultation
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    CDC is required to upload the draft programme document for circulation to PAC members as identified in Stage 2.
  </p>

  @if(circulationDraft?.stepName){
  <card title="Draft Programme Document " [descriptions]="['Date : ' + (circulationDraft?.extraData['date'] | date)]" />
  }@else{
  <p class="text-sm text-primary font-semibold">Draft programme document not submitted</p>
  }

</div>

<modal #draft_programme>
  <external-curriculum-dev-pac-start [pid]="pid"></external-curriculum-dev-pac-start>
</modal>

}

@if(selectedStep===2){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl capitalize">PAC Consultation and Benchmarking</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="consult_pac.open()">
      Consultations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    PAC Consultation and Benchmarking
    CDC convene a meeting with PAC members and benchmark with peer universities, others stakeholders to solicit inputs
    on the draft programme.
  </p>

  @if(pacConsultation?.stepName){
  <card title="PAC Consultation and Benchmarking Document "
    [descriptions]="['Date : ' + (pacConsultation?.extraData['date'] | date)]" />
  }@else{
  <p class="text-sm text-primary font-semibold">PAC Consultation and Benchmarking document not submitted</p>
  }

</div>

<modal #consult_pac>
  <external-curriculum-dev-pac-consult [pid]="pid"></external-curriculum-dev-pac-consult>
</modal>
}


@if(selectedStep===3){
<div class="space-y-4 my-6">
  <div class="flex justify-between gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Final Draft Programme - PDQA Recommendations</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="final_draft.open()">
      Recommendations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    CDC circulate the final draft programme document to PDQA for recommendation to BOS.
  </p>

  @if(finalDraft?.stepName){
  <card title=" final draft programme document "
    [descriptions]="['Date : ' + (finalDraft?.extraData['date'] | date)]" />
  }@else{
  <p class="text-sm text-primary font-semibold">Final Draft Programme document not submitted</p>
  }
</div>

<modal #final_draft>
  <external-pac-consult-endorse [pid]="pid"></external-pac-consult-endorse>
</modal>
}
