<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-2 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-8 rounded-full grid place-items-center text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden sm:block"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>


@if(selectedStep ===1){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl">Programme Details</h2>
    <button class="btn btn-sm btn-secondary text-primary" onclick="edit_program.showModal()">
      <!-- <span class="material-symbols-rounded">
        edit
      </span> -->
      Edit
    </button>
  </div>

  <div class="space-y-2">
    <div class="rounded-lg shadow px-4 py-2 flex items-center justify-between">
      <div class="flex flex-col -gap-1">
        <span class="text-xl">Programme Code</span>
        <span class="text-[.6rem]">What is the proposed programme code</span>
      </div>

      <span class="text-3xl uppercase">{{programme.code}}</span>
    </div>
    <div class="rounded-lg shadow px-4 py-2 flex items-center justify-between">
      <div class="flex flex-col -gap-1">
        <span class="text-xl">NQF Level</span>
        <span class="text-[.6rem]">What is the NQF Level</span>
      </div>

      <span class="text-3xl">{{programme.level}}</span>
    </div>

  </div>
</div>

<dialog id="edit_program" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-2xl">Edit Programme </h3>

    <form (ngSubmit)="updateProgramme()" #updateProgrammeForm="ngForm" class="space-y-3">
      <!-- <div [hidden]="true" class="form-group">
        <label for="departmentName">Department</label>
        <input id="departmentName" type="text" class="form-control" [(ngModel)]="departmentName"
          placeholder="departmentName" name="department" />
      </div> -->
      <div class="form-control">
        <div class="label">
          <span class="label-text">Proposed Programme Title</span>
        </div>
        <input id="title" type="text" class="input input-bordered" required [(ngModel)]="programme.name" name="title"
          #ptitle="ngModel">
        @if (ptitle.invalid) {
        <div class="label">
          <span class="label-text">
            Programme title is required
          </span>
        </div>
        }
      </div>

      <div class="form-control">
        <div class="label">
          <span class="label-text">Proposed Programme Code</span>
        </div>
        <input id="programmeCode" type="text" class="input input-bordered" required [(ngModel)]="programme.code"
          name="code" #code="ngModel">
        @if (code.invalid) {
        <div class="label">
          <span class="label-text">
            Proposed Programme Code is required
          </span>
        </div>
        }
      </div>


      <div class="form-control w-full">
        <div class="label">
          <span class="label-text">NQF Level</span>
        </div>
        <select class="select select-bordered w-full" title="Select level" required [ngModel]="programme.level"
          (ngModelChange)="changed($event)" name="level" #level="ngModel">
          <option disabled>Select NQF Level</option>
          @for (singleLevel of levels;track singleLevel){
          <option [value]="singleLevel">{{singleLevel}}</option>
          }
        </select>
        @if (level.invalid) {
        <div class="label">
          <span class="label-text">NQF Level required!</span>
        </div>
        }
      </div>
      <div class="form-control gap-2">
        <button type="submit" class="btn btn-primary " [disabled]="!updateProgrammeForm.form.valid">Submit</button>
        <!-- <button type="button" class="btn btn-default " (click)="close()">Cancel</button> -->
      </div>
    </form>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}

@if(selectedStep ===2){
<div class="my-4 space-y-4">
  <div class="flex justify-between">
    <h2 class="text-2xl">Stakeholders' Consultation</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="markComplete()">
      Mark Complete
    </button>
  </div>

  <div class="flex justify-between">
    <h2 class="text-xl">Stakeholders</h2>
    <!-- <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="add_stakeholder_modal.showModal()">
      Add
    </button> -->
    <button onclick="need_analysis_consult.showModal()" class="btn btn-sm font-normal btn-secondary text-primary">
      Add
    </button>
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(stake of stakeholders; track stake.email){
    <div class="border-2 border-primary py-2 px-2 rounded-lg w-full relative">
      <div class="flex flex-col -gap-2">
        <span class="text-base">{{stake.name}}</span>
        <span class="text-xs text-gray-500">{{stake.email}}</span>
      </div>

      <action-buttons></action-buttons>

    </div>
    }@empty {
    <p class="text-sm text-primary">No Stakeholders</p>
    }
  </div>

  <div class="flex justify-between">
    <h2 class="text-xl">Consultations</h2>
    <!-- <button onclick="need_analysis_consult.showModal()" class="btn btn-sm font-normal btn-secondary text-primary">
      Add
    </button> -->
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(submission of submissions; track submission.id){
    <div class="border-2 border-primary py-2 px-2 rounded-lg w-full relative">
      <div class="flex flex-col -gap-2">
        <span class="text-base">{{submission.title}}</span>
        <span class="text-xs text-gray-500">{{submission.submissionDate}}</span>
      </div>

      <action-buttons></action-buttons>

    </div>
    }@empty {
    <p class="text-sm text-primary">No Submission</p>
    }

  </div>

  <div class="flex justify-between">
    <h2 class="text-xl">Survey/Questionnaire</h2>
    <button onclick="end_consult.showModal()" class="btn btn-sm font-normal btn-secondary text-primary">
      Add
    </button>
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(submission of submissions; track submission.id){
    <div class="border-2 border-primary py-2 px-2 rounded-lg w-full relative">
      <div class="flex flex-col -gap-2">
        <span class="text-base">{{submission.title}}</span>
        <span class="text-xs text-gray-500">{{submission.submissionDate}}</span>
      </div>

      <action-buttons></action-buttons>

    </div>
    }@empty {
    <p class="text-sm text-primary">No Submission</p>
    }

  </div>

</div>
<!-- Add Stakeholder -->
<dialog id="add_stakeholder_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <div class="space-y-4">
      <h2 class="text-2xl">Add Stakeholders</h2>
      <form (ngSubmit)="addStakeholder()" #stakeholderForm="ngForm" class="space-y-3">
        <div class="form-control">
          <div class="label">
            <span class="label-text">Name</span>
          </div>
          <input required class="input input-bordered" type="text" placeholder="name" [(ngModel)]="stakeholder.name"
            name="name" #stakename="ngModel">
        </div>
        <div class="form-control">
          <div class="label">
            <span class="label-text">Email</span>
          </div>
          <input required class="input input-bordered" type="email" placeholder="email" [(ngModel)]="stakeholder.email"
            name="email" #stakeEmail="ngModel" />
        </div>
        <div class="form-control gap-2">
          <button type="submit" onclick="add_stakeholder_modal.close()" [disabled]="stakeholderForm.invalid"
            class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<!-- Need analysis Consult  -->
<dialog id="need_analysis_consult" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <need-analysis-consult [code]="programme.code"></need-analysis-consult>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<!--End  Consult  -->
<dialog id="end_consult" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <end-consult [code]="programme.code"></end-consult>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>



<!-- Edit Stakeholder Modal -->
<!-- <dialog id="stakeholder_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-2xl">Edit Programme </h3>

    <form (ngSubmit)="updateProgramme()" #startForm="ngForm" class="space-y-3">
      <div class="form-control">
        <div class="label">
          <span class="label-text">Name</span>
        </div>
        <input id="name" type="text" class="input input-bordered" required [(ngModel)]="stakeholder.name" name="name"
          #name="ngModel">
        @if (name.invalid) {
        <div class="label">
          <span class="label-text">
            name is required
          </span>
        </div>
        }
      </div>

      <div class="form-control">
        <div class="label">
          <span class="label-text">Proposed Programme Code</span>
        </div>
        <input id="email" type="email" class="input input-bordered" required [(ngModel)]="stakeholder.email"
          name="email" #email="ngModel">
        @if (email.invalid) {
        <div class="label">
          <span class="label-text">
            email is required
          </span>
        </div>
        }
      </div>

      <div class="form-control gap-2">
        <button type="submit" class="btn btn-primary " [disabled]="!startForm.form.valid">Add</button>
      </div>
    </form>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog> -->

}

@if(selectedStep ===3){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl">PDQA Recommendation </h2>
    <div class="join">
      <button class="btn btn-sm join-item btn-secondary text-primary" onclick="PDQA_recommend.showModal()">
        PDQA Decision
      </button>

      <button class="btn btn-sm join-item btn-secondary text-primary" onclick="end_consult.showModal()">
        Resubmit
      </button>

      <button class="btn btn-sm join-item btn-secondary text-primary" onclick="bos_submit.showModal()">
        Submit to BOS
      </button>

    </div>
  </div>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Final NA Report</span>
      <span class="text-xs text-gray-500">Decision: Deferred</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>
    <action-buttons></action-buttons>
  </div>

</div>

<dialog id="PDQA_recommend" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <need-analysis-conclude [code]="programme.code"></need-analysis-conclude>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="end_consult" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <end-consult [code]="programme.code"></end-consult>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="bos_submit" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <bos-submit [programmeCode]="programme.code"></bos-submit>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}


@if(selectedStep ===4){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">BOS Consultation</h2>
    <div class="join">
      <button class="btn btn-sm join-item btn-secondary text-primary" onclick="bos_ammendments.showModal()">
        Amendments
      </button>

      <button class="btn btn-sm join-item btn-secondary text-primary" onclick="apc_start.showModal()">
        Start APC
      </button>
    </div>
  </div>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Recommendations</span>
      <span class="text-xs text-gray-500">Decision: Deferred</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <action-buttons></action-buttons>

  </div>
</div>

<!-- Dialogs -->
<dialog id="bos_ammendments" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    <bos-amendment [code]="programme.code"></bos-amendment>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="apc_start" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <bos-submit [programmeCode]="programme.code"></bos-submit>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}


@if(selectedStep ===5){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">APC Recommendation</h2>
  </div>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Recommendations</span>
      <span class="text-xs text-gray-500">Decision: Deferred</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <action-buttons></action-buttons>

  </div>

</div>
}

@if(selectedStep ===6){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Senate Approval</h2>
  </div>


  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Recommendations</span>
      <span class="text-xs text-gray-500">Decision: Deferred</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <action-buttons></action-buttons>
  </div>

</div>
}
