<!--Navbar-->
<div SideClass="navbar fixed-top navbar-expand-lg navbar-dark lighten-1 intro-fixed-nav" class="navCss">

  <!-- Navbar brand -->
  <div>
    <a class="navbar-brand font-weight-bold" routerLink='/home'>
        <img src="../assets/NUST_logo.png" height="30" alt="mdb logo"> <span style="padding:20px">PDU </span>|
      </a>
  </div>


  <!-- Collapsible content -->
  <div>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/home' > Home
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li class="nav-item" [hidden]="!loggedIn()" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/resume' > Getting Started </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/StartNeedAnalysis' routerLinkActive="active">Need analysis form</a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/tutorials' >Tutorials</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/our-team' >PDU Team</a>
      </li> PDU Requested that this gets removed-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/our-team' >FAQ</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink='/about-us' >About Us</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!-- <li class="nav-item" >
          <a class="nav-link waves-effect waves-light text-md-left" style="padding-top:13px">
              <i class="fas fa-envelope fa-2x" ></i>
            </a>
      </li> -->
      <li class="nav-item avatar dropdown" [hidden]="!loggedIn()" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height:38px"> {{this.username}}
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Faculty:{{this.faculty}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Department: {{this.department}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()" href="#">Log out</a>
        </div>
      </li>
      <li class="nav-item" [hidden]="loggedIn()" style="padding-top:8px" >
          <a routerLink='/login' class="btn btn-success btn-sm log-but">Log In</a>
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->

</div>
<!--/.Navbar-->



<!--Main layout-->
<router-outlet></router-outlet>

<!--Main layout-->

<!--Footer-->
<footer class="page-footer bottom text-center font-medium mt-0 wow fadeIn">

  <!--Call to action-->
  <div class="container">
      <div class="py-3">
          <div class="span12 pagination-centered">
              <div class="center">
                  <p class="text-center">
                      <a href="#">Terms of Service</a> | <a href="#">Privacy</a> | <a href="#">Help</a>
                  </p>
                  <p>
                    Copyright &copy; {{ currentYear }} Programme Development Unit. All rights reserved
                  </p>
              </div>
          </div>
      </div>
  </div>
  <!--/.Call to action-->



  <!-- Social icons -->
  <!-- <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div> -->
  <!-- Social icons -->
  <hr class="my-1">
</footer>
<!--/.Footer-->
