<div class="space-y-4">
  <h3 class="text-xl">Other Faculty Bos - Consultation (optional)</h3>
  <form #bosForm="ngForm" class="space-y-2">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Other Faculty Name</legend>
      <input id="OtherFacultyName" type="text" class="input input-bordered w-full" required
        [(ngModel)]="model.OtherFacultyName" name="OtherFacultyName" #othercode="ngModel">
      @if (othercode.invalid && othercode.touched) {
      <span class="label text-error">Other Faculty Name is required</span>
      }
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">BOS Date</legend>
      <input id="date" type="date" class="input w-full input-bordered" required [(ngModel)]="model.consultationDate"
        ng2-datetime-picker date-only="true" name="date" placeholder="YYYY-MM-DD" #cdate="ngModel" />
      @if (cdate.invalid && cdate.touched) {
      <span class="label text-error">Consultation Date is required</span>
      }
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Programme Draft</legend>
      <file-upload [pid]="pid" [url]="url" itemAlias="other-faculty-recommendation"></file-upload>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Recommended to</legend>
      <fieldset class="rounded-lg flex gap-4 border-2 border-dashed border-gray-300 p-2">
        <div class="flex items-center gap-2">
          <input class="radio radio-xs" type="radio" id="defaultInline1" name="recommendTo"
            [(ngModel)]="model.recommendTo" value="apc" required #recommendTo="ngModel" mdbInput>
          <label class="label" for="defaultInline1">APC</label>
        </div>
        <div class="flex items-center gap-2">
          <input class="radio radio-xs" type="radio" id="defaultInline2" name="recommendTo"
            [(ngModel)]="model.recommendTo" value="BOSEC" required #recommendTo="ngModel" mdbInput>
          <label class="label" for="defaultInline2">BOSEC</label>
        </div>
      </fieldset>
      @if (recommendTo.invalid && recommendTo.touched) {
      <div class="label text-error">Recommendation required*</div>
      }
    </fieldset>

    <div class="form-control">
      <button type="submit" class="btn btn-primary w-full" (click)="onUpload()"
        [disabled]="!fileUpload?.uploader?.queue.length || bosForm.form.invalid">
        Submit
        <span class="material-symbols-rounded">cloud_upload</span>
      </button>
    </div>
  </form>
</div>
