<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-1 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-10 md:size-6 xl:size-8 rounded-full grid place-items-center text-xs lg:text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden md:block md:text-xs"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep ===1){
<div class="my-4 space-y-4">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl capitalize">CDC and PAC Appointment</h2>
    <!-- <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="my_modal_2.open()"
      (click)="setProgramme()">
      Mark Complete
    </button> -->
  </div>

  <p class="text-sm text-gray-700">
    The department identifies and appoint the Curriculum Development Coordinator (CDC) who will facilitates the
    appointment of Programme Advisory Committee (PAC) members in consultation with PDQA.
  </p>

  <div class="flex justify-between">
    <h2 class="text-lg md:text-xl capitalize">Curriculum Development Coordinators</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="appoint_cdc.open()">
      Appoint CDC
    </button>
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(item of pacCdcApp?.extraData['cdcMembers']; track $index){
    <div class="border-2 border-primary py-2 px-2 rounded-lg w-full relative">
      <div class="flex flex-col -gap-1">
        <span class="text-base capitalize">{{item?.firstName}} {{item?.lastName}}</span>
        <span class="text-xs text-gray-500">Email: {{item?.emailAddress}}</span>
        <span class="text-xs text-gray-500">Work Number: {{item?.workNumber}}</span>
        @if(item?.cellphone){<span class="text-xs text-gray-500">Cellphone Number: {{item?.cellphone}}</span>}
        <span class="text-xs text-gray-500">Organisation: {{item?.organization}}</span>
        <span class="text-xs text-gray-500">Qualification: {{item?.qualification}}</span>
        <span class="text-xs text-gray-500">Occupation: {{item?.occupation}}</span>
      </div>
      <action-buttons></action-buttons>
    </div>
    }@empty {
    <p class="text-sm text-primary font-semibold">No curriculum development coordinators (CDC) members</p>
    }

  </div>

  <div class="flex justify-between">
    <h2 class="text-lg md:text-xl capitalize">Programme Advisory Committee</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="appoint_pac.open()">
      Appoint PAC
    </button>
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(item of pacCdcApp?.extraData['pacMembers']; track $index){
    <div class="border-2 border-primary py-2 px-2 rounded-lg w-full relative">
      <div class="flex flex-col -gap-2">
        <span class="text-base capitalize">{{item?.firstName}} {{item?.lastName}}</span>
        <span class="text-xs text-gray-500">Email: {{item?.emailAddress}}</span>
        <span class="text-xs text-gray-500">Work Number: {{item?.workNumber}}</span>
        @if(item?.cellphone){<span class="text-xs text-gray-500">Cellphone Number: {{item?.cellphone}}</span>}
        <span class="text-xs text-gray-500">Organisation: {{item?.organization}}</span>
        <span class="text-xs text-gray-500">Qualification: {{item?.qualification}}</span>
        <span class="text-xs text-gray-500">Occupation: {{item?.occupation}}</span>
      </div>
      <action-buttons></action-buttons>
    </div>
    }@empty {
    <p class="text-sm text-primary font-semibold">No programme advisory Committee (PAC) members</p>
    }
  </div>
</div>

<modal #appoint_cdc>
  <pd-cdc [pid]="pid"></pd-cdc>
</modal>

<modal #appoint_pac>
  <pd-pac [pid]="pid"></pd-pac>
</modal>
}


@if(selectedStep ===2){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center">
    <h2 class="text-xl md:text-2xl capitalize">Curriculum Drafting</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="draft_pdqa.open()">
      Submit Draft to PDQA
    </button>
  </div>

  <p class="text-sm text-gray-700">
    CDC develop the draft programme and submits to PDQA for review.
  </p>

  @if(currDraft?.extraData['draftFile']){
  <card title="Curriculum Draft" [descriptions]="['Submitted : ' + (currDraft?.date | date)]">
    <action-buttons [actions]="['download']"
    [target]="{name:'Curriculum Draft document',
      id: currDraft?.extraData['draftFile']}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">Curriculum Draft not submitted</p>
  }
</div>


<modal #draft_pdqa>
  <pd-curriculum-revise [pid]="pid"></pd-curriculum-revise>
</modal>
}

@if(selectedStep ===3){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center">
    <h2 class="text-xl md:text-2xl capitalize">Draft Curriculum & PDQA Recommendation</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="pdqa_approval.open()">
      Recommendations
    </button>
  </div>

  <p class="text-sm text-gray-700">
    PDQA review and provide recommendation on the draft programme.
  </p>

  @if(pdqaRecommend?.extraData['draftFile']){
  <card title="Recommendation"
    [descriptions]="['Decision : '+pdqaRecommend?.extraData?.decision  ,'Submitted : ' + (pdqaRecommend?.date | date)]">
    <action-buttons [actions]="['download']"
    [target]="{name:'Curriculum Draft and PDQA Recommendation document',
      id: pdqaRecommend?.extraData['draftFile']}" />
    </card>
  }@else{
  <p class="text-sm text-primary font-semibold">Curriculum Draft not submitted</p>
  }

</div>

<modal #pdqa_approval>
  <pd-curriculum-dev-draft-pdu-approval [pid]="pid"></pd-curriculum-dev-draft-pdu-approval>
</modal>
}
