<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-1 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-10 md:size-6 xl:size-8 rounded-full grid place-items-center text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden md:block md:text-xs"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep ===1){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl">Programme Details</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm btn-secondary text-primary" (click)="edit_program.open()">
      <span class="material-symbols-rounded text-[20px]">
        edit
      </span>
      Edit
    </button>
  </div>

  <div class="space-y-2">
    <div class="rounded-lg shadow px-4 py-2 flex items-center justify-between">
      <div class="flex flex-col -gap-1">
        <span class="text-xl">Programme Code</span>
        <span class="text-[.6rem]">What is the proposed programme code</span>
      </div>

      <span class="text-3xl uppercase">{{programme?.code}}</span>
    </div>
    <div class="rounded-lg shadow px-4 py-2 flex items-center justify-between">
      <div class="flex flex-col -gap-1">
        <span class="text-xl">NQF Level</span>
        <span class="text-[.6rem]">What is the NQF Level</span>
      </div>
      <span class="text-3xl">{{programme?.level}}</span>
    </div>

  </div>
</div>

<modal #edit_program>
  @if (programme) {<need-analysis-edit-program [programme]="programme" />}
</modal>
}

@if(selectedStep ===2){
<div class="my-4 space-y-4">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl">Stakeholders' Consultation</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="need_analysis_consult.open()">
      Consultations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    CDC provides relevant information related to stakeholders consultation on the need of the proposed programme
  </p>

  @if (stakeConsult?.extraData?.startDate) {
  <span class="text-secondary text-lg font-semibold">Started on {{stakeConsult?.extraData?.startDate | date}} - Ended on
    {{stakeConsult?.extraData?.endDate | date}}</span>
  }

  <div class="flex justify-between">
    <h2 class="text-xl">Stakeholders</h2>
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(stake of stakeConsult?.extraData?.organizations; track $index){
    <card [title]="stake?.name" [descriptions]="[stake.organisation]">
    </card>
    }@empty {
    <p class="text-sm text-primary font-semibold">No Stakeholders</p>
    }
  </div>

  <div class="flex justify-between">
    <h2 class="text-xl">Consultations</h2>
  </div>

  <div class="grid sm:lg:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @for(questionnaire of stakeConsult?.extraData?.questionnaires; track $index){
    <card [title]="'Questionnaire '+($index+1)"
      [descriptions]="[questionnaire?.name,(stakeConsult.extraData?.startDate | date)  +' - '+ (stakeConsult.extraData?.startDate | date)]">
      <action-buttons [actions]="['download']" [fileId]="{name:questionnaire.name, id: questionnaire.id}" />
    </card>
    }@empty {
    <p class="text-sm text-primary font-semibold">No Submission</p>
    }

  </div>

  <div class="flex justify-between">
    <h2 class="text-xl">Survey/Questionnaire</h2>
    <button *canEdit="programme?.initiator" (click)="end_consult.open()"
      class="btn btn-sm font-normal btn-secondary text-primary">
      Submit Survey/Questionnaire
    </button>
  </div>

  <div class="grid gap-4">
    @if(stakeConsult?.extraData?.surveyQuestions){
    <card title="Final Survey Report" [descriptions]="[(stakeConsult?.date | date)]">
      <action-buttons [actions]="['download']"
        [fileId]="{name:'Final Survey Report', id: stakeConsult?.extraData?.surveyQuestions[0]}" />
    </card>
    }@else {
    <p class="text-sm text-primary font-bold">No Submission</p>
    }
  </div>
</div>

<!-- Need analysis Consult  -->
<modal #need_analysis_consult>
  <need-analysis-consult [pid]="pid"></need-analysis-consult>
</modal>

<!--End  Consult  -->
<modal #end_consult>
  <end-consult [pid]="pid"></end-consult>
</modal>

}

@if(selectedStep ===3){
<div class="space-y-4 my-6">
  <div class="flex flex-wrap gap-2 justify-between">
    <h2 class="text-xl md:text-2xl capitalize">PDQA Recommendation</h2>
    <div class="join" *canEdit="programme?.initiator">
      <button class="btn btn-sm join-item btn-secondary text-primary" (click)="pdqa_recommend.open()">
        PDQA Decision
      </button>

      <button class="btn btn-sm join-item btn-secondary text-primary" (click)="end_consult.open()">
        Resubmit
      </button>

      <button class="btn btn-sm join-item btn-secondary text-primary" (click)="bos_submit.open()">
        Submit to BOS
      </button>
    </div>
  </div>

  <p class="text-sm text-gray-700">
    The Programme Development Quality Assurance (PDQA) reviews and make recommendation on the Need Analysis (NA) report.
  </p>

  @if(pdqaRecommend?.stepName){
  <card title="Final PDQA Recommendation"
    [descriptions]="['Decision: '+pdqaRecommend?.extraData?.decision, 'Submitted: '+(pdqaRecommend?.date | date)]">
    <action-buttons [actions]="['download']"
      [fileId]="{name:'Need Analysis PDQA Recommendation document', id: pdqaRecommend?.extraData?.recommendationDoc}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">No PDQA Recommendations</p>
  }
</div>

<modal #pdqa_recommend>
  <need-analysis-conclude [pid]="pid"></need-analysis-conclude>
</modal>

<modal #end_consult>
  <end-consult [pid]="pid"></end-consult>
</modal>

<modal #bos_submit>
  <bos-submit [pid]="pid"></bos-submit>
</modal>
}

@if(selectedStep ===4){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl capitalize">BOS Consultation</h2>
    <div class="join" *canEdit="programme?.initiator">
      <button class="btn btn-sm join-item btn-secondary text-primary" (click)="bos_ammendments.open()">
        Amendments
      </button>
      <button class="btn btn-sm join-item btn-secondary text-primary" (click)="apc_start.open()">
        Start APC
      </button>
    </div>
  </div>

  <p class="text-sm text-gray-700">
    Boards of Studies (BOS) review the NA report and provides recommendation
  </p>

  @if (bosConsult?.extraData?.startDate) {
  <span class="text-secondary text-lg font-semibold mb-4!">
    Started on {{stakeConsult?.extraData?.startDate |date}}
  </span>
  }

  @if(bosConsult?.extraData?.status){
  <card title="Recommendations"
    [descriptions]="['Status: ' + bosConsult?.extraData?.status, 'Submitted: '+(bosConsult?.extraData?.recommendationDate | date)]">
    <action-buttons [actions]="['download']"
      [fileId]="{name:'Need Analysis BOS Recommendation document',
      id: bosConsult?.extraData?.recommendationFile}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">No Recommendations</p>
  }

</div>

<!-- modals -->
<modal #bos_ammendments>
  <bos-amendment [pid]="pid"></bos-amendment>
</modal>

<modal #apc_start size="sm">
  <senate-submit [pid]="pid"></senate-submit>
</modal>
}


@if(selectedStep ===5){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl capitalize">APC Recommendation</h2>
    <div class="join" *canEdit="programme?.initiator">
      <button class="btn btn-sm join-item btn-secondary text-primary" (click)="apc_submit.open()">
        Recommendation
      </button>
    </div>
  </div>

  <p class="text-sm text-gray-700">
    Department submit programme document to APC for review and APC make recommendations.
  </p>

  @if (apcRecommend?.extraData?.recommendationDate) {
  <span class="text-secondary text-lg font-semibold mb-4!">
    Started on {{stakeConsult?.extraData?.startDate | date}}
  </span>
  }

  @if(apcRecommend?.extraData?.recommendationFile){
  <card title="Recommendations"
    [descriptions]="['Decision: ' + apcRecommend?.extraData?.status, 'Consultation Date: '+(apcRecommend?.extraData['consultationDate'] | date)]">
    <action-buttons [actions]="['download']" [fileId]="{name:'Need Analysis APC Recommendation document',
      id: apcRecommend?.extraData?.recommendationFile}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">No recommendations submitted</p>
  }

</div>

<modal #apc_submit>
  <apc-recommend [pid]="pid"></apc-recommend>
</modal>
}

@if(selectedStep ===6){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl capitalize">Senate Approval</h2>

    <div class="join" *canEdit="programme?.initiator">
      <button class="btn btn-sm join-item btn-secondary text-primary" (click)="senate_submit.open()">
        Recommendation
      </button>
    </div>
  </div>

  <p class="text-sm text-gray-700">
    Department submit programme document to Senate and Senate makes a decision.
  </p>

  @if(senateApproval?.extraData?.recommendationFile){
  <card title="Recommendations"
    [descriptions]="['Decision: ' + senateApproval?.extraData?.status, 'Consultation Date: '+(senateApproval?.extraData['recommendationDate'] | date)]">
    <action-buttons [actions]="['download']" [fileId]="{name:'Need Analysis Senate Recommendation document',
      id: senateApproval?.extraData?.recommendationFile}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">No recommendations submitted</p>
  }

</div>

<modal #senate_submit>
  <senate-recommend [pid]="pid"></senate-recommend>
</modal>
}
