<div class="min-h-screen flex flex-col">
  <!--Navbar-->
  <div class="navbar !bg-primary text-white h-fit">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-[#1b2c5d] rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a routerLink='/home' routerLinkActive="active" class="active:btn-secondary">Home</a></li>
          <li [hidden]="!loggedIn()"><a routerLink='/resume'>Getting Started</a></li>
          <li><a routerLink='/tutorials' routerLinkActive="active">Tutorials</a></li>
          <li><a routerLink='/our-team' routerLinkActive="active">FAQ</a></li>
          <li><a routerLink='/about-us' routerLinkActive="active">About Us</a></li>
        </ul>
      </div>
      <img alt="NUST logo" src="/logo.png" class="h-6 ml-3" />
      <a routerLink="/home" class="btn btn-ghost text-xl">PDQA</a>
      |
      <div class="hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a routerLink='/home' routerLinkActive="active" class="active:btn-secondary">Home</a></li>
          <li [hidden]="!loggedIn()" routerLinkActive="active"><a routerLink='/resume'>Getting Started</a></li>
          <li><a routerLink='/tutorials' routerLinkActive="active">Tutorials</a></li>
          <li><a routerLink='/our-team' routerLinkActive="active">FAQ</a></li>
          <li><a routerLink='/about-us' routerLinkActive="active">About Us</a></li>
        </ul>
      </div>
    </div>


    <div class="navbar-end items-center">

      <!-- <div class="dropdown dropdown-end" *if="!loggedIn(); else logged">
      <span>{{this.username}}</span>

      <div tabIndex={0} role="button" class="btn btn-ghost btn-circle avatar">

        <div class="w-10 rounded-full">
          <img alt="user profile" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>

      <ul tabIndex={0} class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="space-y-2">
            <h6>Profile</h6>
            <div class="badge">Faculty:{{this.faculty}}</div>
            <div class="badge">Department: {{this.department}}</div>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div> -->


      <!-- <ng-template #logged> -->
      <a routerLink='/login' class="btn btn-sm bg-secondary border-none">Login</a>
      <!-- </ng-template> -->
    </div>

  </div>
  <!--/.Navbar-->

  <!--Main layout-->
  <div class="flex-grow">


    <router-outlet></router-outlet>
  </div>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer bottom text-white bg-primary">
    <!--Call to action-->
    <div class="container mx-auto">
      <div class="py-4">
        <div class="space-y-2">
          <p class="text-center text-xs">
            <a href="#">Terms of Service</a> | <a href="#">Privacy</a> | <a href="#">Help</a>
          </p>
          <p class="text-center text-xs">
            Copyright &copy; {{ currentYear }} Programme Development Unit. All rights reserved
          </p>
        </div>
      </div>
    </div>
    <!--/.Call to action-->

    <!-- Social icons -->
    <!-- <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div> -->
    <!-- Social icons -->
  </footer>
  <!--/.Footer-->
</div>
