<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-1 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-10 md:size-6 xl:size-8 rounded-full grid place-items-center text-xs lg:text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden md:block md:text-xs"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep==1){
<div class="space-y-4 my-6">
  <div class="flex justify-between gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Internal Consultations</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="internal_consult.open()">
      Start Internal Consultations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    This sub stage requires CDC to identify relevant internal stakeholders for consultation to seek inputs on teaching,
    learning and assessment (TL &A), delivery, cooperative education, quality assurance, and circulate the programme
    document.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Draft Version 1</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<modal #internal_consult>
  <tlu-ceu-qa-start [pid]="pid"></tlu-ceu-qa-start>
</modal>
}

@if(selectedStep==2){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl capitalize">ADSTLT Review</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="adstlt_review.open()">
      ADSTLT Review
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    The Department responsible advice the department on the appropriate teaching, learning and assessment strategies on
    the various courses and makes a recommendation.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">ADSTLT Review</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<modal #adstlt_review>
  <tlu-recommend [pid]="pid"></tlu-recommend>
</modal>
}

@if(selectedStep==3){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center">
    <h2 class="text-xl md:text-2xl capitalize">CE Review</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="ce_review.open()">
      CE Review
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    The Department responsible ensure the integration of the Work Integrated Learning (WIL) component in the
    undergraduate programme and makes a recommendation.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">CE Review</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<modal #ce_review>
  <ceu-recommend [pid]="pid"></ceu-recommend>
</modal>
}

@if(selectedStep==4){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">PDQA Recommendation</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" (click)="pdqa_review.open()">
      PDQA Recommendation
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    The department review and verify the readiness of the programme for submission to BOS, makes a recommendation and
    provide a checklist.
  </p>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">PDQA Recommendation</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<modal #pdqa_review>
  <internal-pdqa-review [pid]="pid"></internal-pdqa-review>
</modal>
}
