<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps;track step.id;let i= $index; ){
    <li class="flex items-center gap-1 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-10 md:size-6 xl:size-8 rounded-full grid place-items-center text-xs lg:text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'"> {{i+1}} </span>
      <span class="hidden md:block md:text-xs"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>

@if(selectedStep==1){
<div class="space-y-4 my-6">
  <div class="flex justify-between gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">Internal Consultations</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="internal_consult.open()">
      Start Internal Consultations
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    This sub stage requires CDC to identify relevant internal stakeholders for consultation to seek inputs on teaching,
    learning and assessment (TL &A), delivery, cooperative education, quality assurance, and circulate the programme
    document.
  </p>

  @if(internalConsultations?.stepName){
  <card title="programme draft document " [descriptions]="
  [
    `Wil Component ${internalConsultations?.extraData['includesWilComponent']?'Included':'Excluded'}`,
    `Recommended To: ${internalConsultations?.extraData['recommendedTo']?.join(' ')}`,
    'Date : ' + (internalConsultations?.extraData['date'] | date)
  ]
  ">
    <action-buttons [actions]="['download']" [fileId]="{name:'Internal Stakeholders Curriculum Programme Draft document',
      id: internalConsultations?.extraData['draftedProgrammeFile']}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">Programme Draft document not submitted</p>
  }
</div>

<modal #internal_consult>
  <tlu-ceu-qa-start [pid]="pid"></tlu-ceu-qa-start>
</modal>
}

@if(selectedStep==2){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-xl md:text-2xl capitalize">ADSTLT Review</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="adstlt_review.open()">
      ADS-TLT Review
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    The Department responsible advice the department on the appropriate teaching, learning and assessment strategies on
    the various courses and makes a recommendation.
  </p>

  @if(adstltReview?.stepName){
  <card title=" ADSTLT Support Letter/Recommendations document" [descriptions]="
    [
      'Decision : '+ adstltReview?.extraData['decision'],
      'Date : ' + (adstltReview['date'] | date)
    ]">
    <action-buttons [actions]="['download']" [fileId]="{name:'Internal Stakeholders ADSTLT Support Letter/Recommendations document',
      id: adstltReview?.extraData['reviewFile']}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">ADSTLT Support Letter/Recommendations document not submitted</p>
  }
</div>

<modal #adstlt_review>
  <tlu-recommend [pid]="pid"></tlu-recommend>
</modal>
}

@if(selectedStep==3){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center">
    <h2 class="text-xl md:text-2xl capitalize">CE Review</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="ce_review.open()">
      CE Review
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    The Department responsible ensure the integration of the Work Integrated Learning (WIL) component in the
    undergraduate programme and makes a recommendation.
  </p>

  @if(ceuReview?.stepName){
  <card title=" CEU Support Letter/Recommendations document" [descriptions]="[
      'Decision : '+ ceuReview?.extraData['decision'],
      'Date : ' + (ceuReview['date'] | date)
      ]">

    <action-buttons [actions]="['download']" [fileId]="{name:'Internal Stakeholders CEU Support Letter/Recommendations document',
      id: ceuReview?.extraData['reviewFile']}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">CEU Support Letter/Recommendations document not submitted</p>
  }
</div>

<modal #ce_review>
  <ceu-recommend [pid]="pid"></ceu-recommend>
</modal>
}

@if(selectedStep==4){
<div class="space-y-4 my-6">
  <div class="flex justify-between items-center gap-2 flex-wrap">
    <h2 class="text-xl md:text-2xl capitalize">PDQA Recommendation</h2>
    <button *canEdit="programme?.initiator" class="btn btn-sm font-normal btn-secondary text-primary"
      (click)="pdqa_review.open()">
      PDQA Recommendation
    </button>
  </div>

  <p class="text-gray-700 text-sm">
    The department review and verify the readiness of the programme for submission to BOS, makes a recommendation and
    provide a checklist.
  </p>

  @if(pdqaRecommend?.stepName){
  <card title=" PDQA Support Letter/Recommendations document" [descriptions]="[
      'Decision : '+ pdqaRecommend?.extraData['decision'],
      'Date : ' + (pdqaRecommend['date'] | date)
      ]">
    <action-buttons [actions]="['download']" [fileId]="{name:'Internal Stakeholders PDQA Support Letter/Recommendations document',
      id: pdqaRecommend?.extraData['reviewFile']}" />
  </card>
  }@else{
  <p class="text-sm text-primary font-semibold">PDQA Support Letter/Recommendations document not submitted</p>
  }
</div>

<modal #pdqa_review>
  <internal-pdqa-review [pid]="pid"></internal-pdqa-review>
</modal>
}
