<div class="container-fluid pb-video-container"  style="padding-top:80px">
    <div class="col-md-14 col-md-offset-1">
        <h3 class=" form-title-label text-center"> PDU Tutorial List </h3>
        <hr class="colorgraph">
        <div class="row pb-row">
            <div class="col-md-3 pb-video">
              <video id="vid1" width="100%" height="230" class=" pb-video-frame embed-responsive-item" (play)="VideoChanges('vid1')" controls allowfullscreen>
                  <source src="../../assets/images/FCI.mp4" type="video/mp4">
              </video>
                <!-- iframe class="pb-video-frame" width="100%" height="230" src="images/FCI.mp4?rel=0&autoplay=false" frameborder="0" allowfullscreen></iframe -->
                <label class="form-control label-warning text-center">FCI Overview 222</label>
            </div>
            <div class="col-md-3 pb-video">
              <video id="vid2" width="100%" height="230" class="pb-video-frame embed-responsive-item" (play)="VideoChanges('vid2')" controls allowfullscreen>
                  <source src="../../assets/images/FCI.mp4" type="video/mp4">
              </video>
                <!-- iframe class="pb-video-frame" width="100%" height="230" src="images/FCI.mp4?rel=0&autoplay=false" frameborder="0" allowfullscreen></iframe -->
                <label class="form-control label-warning text-center">FCI Overview 3434</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame " width="100%" height="230" src="https://www.youtube.com/embed/2YCjWZyz00Y" frameborder="0" allowfullscreen></iframe>
                <!-- <iframe class="pb-video-frame " width="100%" height="230" src="https://youtu.be/2YCjWZyz00Y" frameborder="0" allowfullscreen></iframe> -->
                <label class="form-control label-warning text-center">Welcome to NUST</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/YgG24Koq6-I" frameborder="0" allowfullscreen></iframe>
                <!-- <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/Y1_VsyLAGuk?list=RDzuAcaBkcYGE?ecver=1" frameborder="0" allowfullscreen></iframe> -->
                <label class="form-control label-warning text-center">My NUST Overview</label>
            </div>
        </div>
        <div class="row pb-row">
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/MNNEYqG0_ao" frameborder="0" allowfullscreen></iframe>
                <!-- <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/UY1bt8ilps4?ecver=1" frameborder="0" allowfullscreen></iframe> -->
                <label class="form-control label-warning text-center">#Choose NUST</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/BhJRdTZU2tI" frameborder="0" allowfullscreen></iframe>
                <!-- <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/QpbQ4I3Eidg?ecver=1" frameborder="0" allowfullscreen></iframe> -->
                <label class="form-control label-warning text-center">NUST Jerusalema Challenge</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/8WzNRV3WySo" frameborder="0"  allowfullscreen></iframe>
                <!-- <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/h3kRIxLruDs?ecver=" frameborder="0" allowfullscreen></iframe> -->
                <label class="form-control label-warning text-center">NUST April 2020 Virtual Graduation</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/QItYzDtgHqg" frameborder="0" allowfullscreen></iframe>
                <!-- <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/Jr4TMIU9oQ4?ecver=1" frameborder="0" allowfullscreen></iframe> -->
                <label class="form-control label-warning text-center">Dr Erold Naomab on GM Namibia</label>
            </div>
        </div>
    </div>
</div>


