<div class="container" style="padding-top:70px">
    <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-wrapper">
            <form #bossubmitForm="ngForm">
                <h3 class="form-signin-heading">1.4.1 Submission to Senate</h3>
                <hr class="colorgraph">
                <br>
                <div class="form-group">
                    <label for="ProgrammeCode">Proposed Programme Code</label>
                    <input id="programmeCode" type="text" class="form-control" required [(ngModel)]="programmeCode"  name="devCode" #procode="ngModel">
                    <div [hidden]="procode.valid" class="alert alert-danger">Proposed Programme Code is required</div>
                </div>
                <br>
                  <div class="form-group">
                    <label for="date">Start Date:</label>
                    <div class="input-group">
                        <input id="date" type="Date" class="form-control" required [(ngModel)]="startDate" ng2-datetime-picker date-only="true" name="date"
                        placeholder="YYYY-MM-DD" #cdate="ngModel" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div [hidden]="cdate.valid" class="alert alert-danger">Submission Date is required</div>
                </div>
                <br>
                <div class="form-group">
                  <button type="submit" class="btn btn-default" (click)="clear()" >Cancel</button>
                  <button type="button" class="btn btn-success btn-s" (click)="postDataToServer()" [disabled]="!bossubmitForm.form.valid">
                Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>