<!--Section: FAQ-->
<section style="padding-top:70px" class="p-5">
    <h3 class="text-center mb-4 pb-2 pt-5 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row text-center">
      <div class="col-md-18 col-lg-12 mb-12">
        <h4 class="mb-3 text-primary text-center"><i class="far fa-paper-plane text-primary pe-2"></i> 1)	What does the processes for developing and review a programme entails?</h4>
        <p class="text-center">
          <strong><u>The following stages underpin the development or review process of a programme!</u></strong> 
        </p>
        <img src="../../assets/images/faq1.png" class="img-fluid rounded text-center">
      </div>
    </div><br/><div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> 2)	How many Programme Advisory Committee (PAC) member should be appointed? 
          </h5>
        <p>
          The appointment is informed through the ToRs on the appointment of PAC members.  Thus, a minimum of twenty members (five from department including Coordinator, Chairperson and current student) fifteen should be from industry (including one from professional where required) - Refer to ToRs on the appointment of PAC.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> 3)	How many universities should we benchmark with?</h5>
        <p>
          <strong><u></u></strong> 
          At a minimum three from SADC and three beyond SADC is required.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> 4)	How many support letters are required in support of the submission of a programme to the various committee e.g. BOS, APC and Senate?
        </h5>
        <p>
          At a minimum, three letters from SADC and three beyond SADC is required from the universities benchmarked with and a minimum of eleven from PAC members (including professional bodies where required).
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> 5)	How long does it take to complete a process for development or review a programme?
        </h5>
        <p>
          The duration is influenced by a variety of factors such as the programme itself i.e an undergraduate programme may take longer to complete. The urgency and commitment by the department also influence the lengthening of the process. Utmost it may takes a minimum of three months. 
        </p>
      </div>
  
    </div>
  </section>
  <!--Section: FAQ-->