<div class="space-y-4">
  <h3 class="text-xl">Draft Curriculum - PDQA Recomendation </h3>
  <div class="space-y-2">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Draft Curriculum</legend>
      <file-upload [pid]="pid" [url]="url" itemAlias="check-list"></file-upload>
    </fieldset>

    <div class="flex items-center justify-center gap-2">
      <button type="button" class="btn btn-sm btn-primary btn-s flex-auto" (click)="onUpload('approve')"
        [disabled]="!fileUpload?.uploader?.queue.length">
        Recommended for consultation
      </button>
      <button type="button" class="btn btn-sm btn-accent" (click)="onUpload('decline')"
        [disabled]="!fileUpload?.uploader?.queue.length">
        Request Resubmission
        <span class="material-symbols-rounded">
          undo
        </span>
      </button>
    </div>
  </div>
</div>
