<div class="space-y-4">
  <h3 class="form-title-label">Draft Curriculum - PDQA Recomendation </h3>
  <form #concludeForm="ngForm">
    <label class="text-sm font-bold"> Draft Curriculum: </label>

    <file-upload [code]="code" [url]="url" itemAlias="survey"></file-upload>

    <div class="flex items-center gap-2 my-2">
      <button type="button" class="btn btn-sm btn-primary btn-s flex-auto" (click)="onUpload('approve')"
        [disabled]="!fileUpload?.uploader?.queue.length || concludeForm.form.invalid">
        Recommended for consultation
      </button>
      <button type="button" class="btn btn-sm btn-secondary btn-s" (click)="onUpload('decline')"
        [disabled]="!fileUpload?.uploader?.queue.length || concludeForm.form.invalid">
        Request Resubmission
      </button>
    </div>
  </form>
</div>
