<div class="space-y-4">
  <h3 class="text-xl mb-4">Submission to APC</h3>
  <form class="space-y-4" #bossubmitForm="ngForm" (ngSubmit)="onSumbit(bossubmitForm)">
    <div class="form-control">
      <label for="ProgrammeCode" class="label label-text">Proposed Programme Code</label>
      <input id="programmeCode" readonly type="text" class="input input-bordered" required [(ngModel)]="code"
        name="code" #procode="ngModel">
      @if(procode.invalid && procode.touched){
      <div class="label label-text-alt text-red-600">Proposed Programme Code is required</div>
      }
    </div>

    <div class="form-control">
      <label for="date" class="label label-text">Start Date:</label>
      <input id="date" type="Date" class="input input-bordered" required [(ngModel)]="startDate"
        ng2-datetime-picker date-only="true" name="date" placeholder="YYYY-MM-DD" #cdate="ngModel" />
      @if (cdate.invalid && cdate.touched) {
      <div class="label label-text-alt text-red-700">Submission Date is required</div>
      }
    </div>

    <div class="form-control">
      <!-- <button type="submit" class="btn btn-default" (click)="clear()">Cancel</button> -->
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!bossubmitForm.form.valid">
        @if (!loading.isLoading()) {
        <span class="flex items-center gap-2">
          Submit
          <span class="material-symbols-rounded">
            cloud_upload
          </span>
        </span>
        }@else {
        <span class="loading loading-spinner loading-sm"></span>
        }
      </button>
    </div>
  </form>
</div>
