<div class="space-y-4">
  <h3 class="text-xl mb-4">Submission to APC</h3>

  <form class="space-y-2" #bossubmitForm="ngForm" (ngSubmit)="onSumbit(bossubmitForm)">
    <fieldset class="fieldset">
      <label class="fieldset-legend">Start Date:</label>
      <input id="date" type="Date" class="input input-bordered" required [(ngModel)]="startDate" ng2-datetime-picker
        date-only="true" name="date" placeholder="YYYY-MM-DD" #cdate="ngModel" />
      @if (cdate.invalid && cdate.touched) {
      <div class="label label-text-alt text-red-700">Submission Date is required</div>
      }
    </fieldset>

    <div class="flex">
      <button type="submit" class="btn btn-primary btn-sm w-full" [disabled]="!bossubmitForm.form.valid">
        @if (!loading.isLoading()) {
        <span class="flex items-center gap-2">
          Submit
          <span class="material-symbols-rounded">
            cloud_upload
          </span>
        </span>
        }@else {
        <span class="loading loading-spinner loading-sm"></span>
        }
      </button>
    </div>
  </form>
</div>
