<div class="container mx-auto p-16 space-y-10">

  <div class=" folded-corner service_tab_1">
    <div class="text-center">
      <i class="fa fa-list-alt fa-3x fa-icon-image"></i>
    </div>

    <div class="text space-y-4">
      <h4 class="text-center"><strong>About Us</strong></h4>
      <p class="paragraph">The Department of Programme Development and Quality Assurance (PDQA) is responsible for
        leading, coordinating and managing all programme development activities (both new and revised programmes) up
        to the point of registration
        of the resultant qualifications on the National Qualifications Framework (NQF).</p>
      <h4>
        <p class="text-center"><strong>Roles and Functions:</strong></p>
      </h4>
      <ul class="text-center">
        <li> Provide guidance, and offer support to academic staff in the design, development, review,
          implementation, and management of academic programmes (curricula) and short courses in
          compliance with the requirements of relevant regulatory frameworks. </li>
        <li>Develop, review, and ensure the effective implementation of the NUST Curriculum Framework, and related
          to programmes and courses’ policies, processes, and guidelines. </li>
        <li>Review and provide recommendations on programmes, short courses, and curriculum content. </li>
        <li>Coordinate the registration of qualifications on the National Qualifications Framework (NQF).</li>
        <li>Conduct orientations and capacity-building interventions for academic staff on curriculum development
          and the NQF.</li>
        <li>Manage programme and qualification databases. </li>
        <li>Conduct verification of programmes and qualifications data in the institutional and quality assurance
          agencies’ documentation.</li>
        <li>Conduct research related to curriculum development to improve curriculum development best practices.
        </li>
        <li>Advise on the Programme Qualification Mix (PQM) to align with the University's mandate.ang</li>
      </ul>
    </div>
  </div>


  <div class="card col-md-4 text-center folded-corner service_tab_1">
    <div class="text-center">
      <i class="fa fa-eye fa-2x fa-icon-image"></i>
    </div>
    <div class="text">
      <h3><strong>Our Vision</strong></h3>
      <p>To be a port of call that promote excellence through technological,
        innovative and sustainable programme development practices at NUST.</p>
    </div>
  </div>

  <div class="card col-md-4 text-center folded-corner service_tab_1">
    <div class="text-center">
      <i class="fa fa-map fa-2x fa-icon-image"></i>
    </div>
    <div class="text">
      <h3><strong>Our Mission</strong></h3>
      <p>To facilitate the development of programmes and qualifications applying internationally
        benchmarked best practices in response to national needs.</p>
    </div>
  </div>

  <div class="card col-md-4 text-center folded-corner service_tab_1">
    <div class="text-center">
      <i class="fa fa-handshake fa-2x fa-icon-image"></i>
    </div>
    <div class="text">
      <h3><strong>Our Values</strong></h3>
      <ul class="text-left">
        <li><b>Accountability:</b> We take full responsibility for all our decisions and actions.</li>
        <li><b>Excellence:</b> We strive for quality and professionalism in all our actions.</li>
        <li><b>Teamwork :</b> We foster a culture of teamwork in pursuit of our mission.</li>
        <li><b>Systematic :</b> We strive for consistency in all our activities.</li>
        <li><b>Integrity:</b> We ensure honesty and moral principles in our processes and systems.</li>
      </ul>
    </div>
  </div>

</div>
<!-- OUR Team members section -->
