<div class="container mx-auto p-16 space-y-10">
  <div class="space-y-10 mt-10">
    <h1 class="text-5xl font-light text-center">
      Programme Development and Quality Assurance (PDQA)
    </h1>
    <p class="text-center uppercase text-xs max-w-2xl mx-auto text-gray-500 leading-6">
      The Department of
      <span class="text-gray-700 opacity-80 font-semibold">PDQA</span> is responsible for
      <span class="text-gray-700 opacity-80 font-semibold">leading</span>,
      <span class="text-gray-700 opacity-80 font-semibold">coordinating</span>and
      <span class="text-gray-700 opacity-80 font-semibold">managing</span>
      all
      <span class="text-gray-700 opacity-80 font-semibold">programme development</span>
      activities (both new and revised programmes) up
      to the point of registration
      of the resultant qualifications on the
      <span class="text-gray-700 opacity-80 font-semibold">
        National Qualifications Framework (NQF)
      </span>.
    </p>
  </div>


  <div class="grid grid-cols-2 gap-20">
    <div className="card card-dash bg-base-100 w-96">
      <div className="card-body">
        <h2 className="card-title">Our Vision</h2>
        <p>To be a port of call that promote excellence through technological,
          innovative and sustainable programme development practices at NUST.
        </p>
      </div>
    </div>

    <div className="card card-dash bg-base-100 w-96">
      <div className="card-body">
        <h2 className="card-title">Our Mission</h2>
        <p>
          To facilitate the development of programmes and qualifications applying internationally
          benchmarked best practices in response to national needs.
        </p>
      </div>
    </div>

    <div className="card card-dash bg-base-100 w-96">
      <div className="card-body">
        <h2 className="card-title">Roles and Functions:</h2>
        <ul>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">01</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Provide guidance, and offer support to academic staff in the design, development, review,
                implementation, and management of academic programmes (curricula) and short courses in compliance with
                the requirements of relevant regulatory frameworks.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">02</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Develop, review, and ensure the effective implementation of the NUST Curriculum Framework, and related
                to
                programmes and courses’ policies, processes, and guidelines.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">03</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Review and provide recommendations on programmes, short courses, and curriculum content.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">04</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Coordinate the registration of qualifications on the National Qualifications Framework (NQF).
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">05</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Conduct orientations and capacity-building interventions for academic staff on curriculum development
                and the NQF.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">06</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Manage programme and qualification databases.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">06</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Conduct verification of programmes and qualifications data in the institutional and quality assurance
                agencies’ documentation.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">08</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Conduct research related to curriculum development to improve curriculum development best practices.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">09</div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                Advise on the Programme Qualification Mix (PQM) to align with the University's mandate.ang
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div className="card card-dash bg-base-100 w-96">
      <div className="card-body">
        <h2 className="card-title">Roles and Functions:</h2>
        <ul>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">01</div>
            <div>
              <div class="text-xs uppercase font-semibold opacity-60">Accountability</div>
            </div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                We take full responsibility for all our decisions and actions.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">02</div>
            <div>
              <div class="text-xs uppercase font-semibold opacity-60">Excellence</div>
            </div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                We strive for quality and professionalism in all our actions.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">03</div>
            <div>
              <div class="text-xs uppercase font-semibold opacity-60">Teamwork</div>
            </div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                We foster a culture of teamwork in pursuit of our mission.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">04</div>
            <div>
              <div class="text-xs uppercase font-semibold opacity-60">Systematic</div>
            </div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                We strive for consistency in all our activities.
              </p>
            </div>
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">05</div>
            <div>
              <div class="text-xs uppercase font-semibold opacity-60">Integrity</div>
            </div>
            <div class="list-col-grow">
              <p class="list-col-wrap text-xs">
                We ensure honesty and moral principles in our processes and systems.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>


  </div>

</div>


<!-- OUR Team members section -->
