<div class="space-y-4">
  <h3 class="text-xl">Curriculum - Drafting</h3>
  <div class="space-y-2">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Draft Curriculum</legend>
      <file-upload [pid]="pid" [url]="url" itemAlias="survey"></file-upload>
    </fieldset>

    <div class="flex justify-center">
      <button type="button" class="btn btn-primary btn-sm w-full" (click)="onUpload()"
        [disabled]="!fileUpload?.uploader?.queue.length">
        Submit to PDU
        <span class="material-symbols-rounded">
          cloud_upload
        </span>
      </button>
    </div>
  </div>
</div>
