<div class="space-y-4">
  <h3 class="text-xl">Curriculum - Drafting</h3>
  <form #endconsultForm="ngForm" class="space-y-4">
    <div class="form-control">
      <label class="text-sm font-bold">Draft Curriculum: </label>
      <file-upload [code]="code" [url]="url" itemAlias="survey"></file-upload>
    </div>

    <div class="flex justify-center">
      <button type="button" class="btn btn-primary btn-sm" (click)="onUpload()"
        [disabled]="!fileUpload?.uploader?.queue.length || endconsultForm.form.invalid">
        Submit to PDU
        <span class="material-symbols-rounded">
          cloud_upload
        </span>
      </button>
    </div>
  </form>
</div>
