@switch (fileName | Extension) {
@case ('pdf') {
<span class="material-symbols-rounded text-[30px]!">
  draft
</span>
}
@case ('doc') {
<span class="material-symbols-rounded text-[30px]!">
  docs
</span>
}
@case ('docs') {
<span class="material-symbols-rounded text-[30px]!">
  docs
</span>
}
@case ('docx') {
<span class="material-symbols-rounded text-[30px]!">
  docs
</span>
}
@case ('xlsx') {
<span class="material-symbols-rounded text-[30px]!">
  csv
</span>
}
@case ('csv') {
<span class="material-symbols-rounded text-[30px]!">
  csv
</span>
}
@default {
<span class="material-symbols-rounded text-[30px]">
  draft
</span>
}
}
