@switch (fileName | Extension) {
@case ('pdf') {
<span class="material-symbols-rounded text-[35px]">
  picture_as_pdf
</span>
}
@case ('doc') {
<span class="material-symbols-rounded text-[35px]">
  docs
</span>
}
@case ('docs') {
<span class="material-symbols-rounded text-[35px]">
  docs
</span>
}
@case ('docx') {
<span class="material-symbols-rounded text-[35px]">
  docs
</span>
}
@case ('xlsx') {
<span class="material-symbols-rounded text-[35px]">
  csv
</span>
}
@case ('csv') {
<span class="material-symbols-rounded text-[35px]">
  csv
</span>
}
@default {
<span class="material-symbols-rounded text-[35px]">
  draft
</span>
}
}
