<div class="space-y-4">
  <h3 class="text-xl mb-4">Appointment - Curriculum Development Coordinators</h3>
  <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
    <!-- <div class="form-group w-full">
      <label class="label label-text">Programme Code</label>
      <input type="text" class="input input-bordered w-full" formControlName="devCode">
      @if (myForm.controls.devCode.invalid && myForm.controls.devCode.touched) {
      <div class="label label-text-alt text-red-700">
        Programme Code is required (minimum 3 characters).
      </div>
      }
    </div> -->

    <h2 class="text-xl font-bold">CDC - Members</h2>
    <div formArrayName="cdc">
      @for(item of items.controls; track $index){
      <div class="space-y-3 bg-gray-50 p-4 my-4 rounded-box">
        <div class="flex justify-between items-center">
          <span class="font-semibold">CDC Member: {{$index + 1}}</span>
          @if(myForm.controls.cdc.controls.length > 1){
          <button class="btn btn-sm btn-secondary" (click)="removeItem($index)">Remove</button>
          }
        </div>

        <div class="space-y-1" [formGroupName]="$index">

          <div class="grid grid-cols-2 gap-2 items-start">

            <div class="form-control">
              <label class="label label-text">First Name</label>
              <input type="text" class="input input-bordered input-sm" formControlName="firstName">
              @if (myForm.controls.cdc.controls[$index].controls.firstName.invalid &&
              myForm.controls.cdc.controls[$index].controls.firstName.touched) {
              <div class="label label-text-alt text-red-700">
                First name is required*
              </div>
              }
            </div>

            <div class="form-control">
              <label class="label label-text">Last Name</label>
              <input type="text" class="input input-bordered input-sm" formControlName="lastName">
              @if (myForm.controls.cdc.controls[$index].controls.lastName.invalid &&
              myForm.controls.cdc.controls[$index].controls.lastName.touched) {
              <div class="label label-text-alt text-red-700">
                Last name is required*
              </div>
              }
            </div>
          </div>

          <div class="form-control">
            <label class="label label-text">Email address</label>
            <input type="email" class="input input-bordered input-sm" formControlName="emailAddress">
            @if (myForm.controls.cdc.controls[$index].controls.emailAddress.invalid &&
            myForm.controls.cdc.controls[$index].controls.emailAddress.touched){
            <div class="label label-text-alt text-red-700">
              Email address is required*
            </div>
            }
          </div>

          <div class="grid grid-cols-2 gap-2 items-start">
            <div class="form-control">
              <label class="label label-text">Work Telephone Number: </label>
              <input type="text" class="input input-bordered input-sm" formControlName="workNumber">
              @if (myForm.controls.cdc.controls[$index].controls.workNumber.invalid &&
              myForm.controls.cdc.controls[$index].controls.workNumber.touched){
              <div class="label label-text-alt text-red-700">
                Work Telephone Number is required*
              </div>
              }
            </div>
            <div class="form-control">
              <label class="label label-text">Cell Number(Optional): </label>
              <input type="text" class="input input-bordered input-sm" formControlName="cellphone"
                (change)=onCellPhoneValueChanged(myForm.controls.cdc.controls[$index].controls.cellphone.value,myForm.controls.cdc.controls[$index].controls.workNumber)>
              @if (myForm.controls.cdc.controls[$index].controls.cellphone.invalid &&
              myForm.controls.cdc.controls[$index].controls.cellphone.touched){
              <div class="label label-text-alt text-red-700">
                Cell Phone Number is required(minimum 10 numbers)*
              </div>
              }
            </div>
          </div>

          <div class="form-control">
            <label class="label label-text">Organisation</label>
            <input type="text" class="input input-bordered input-sm" formControlName="organization">
            @if (myForm.controls.cdc.controls[$index].controls.organization.invalid &&
            myForm.controls.cdc.controls[$index].controls.organization.touched){
            <div class="label label-text-alt text-red-700">
              Organisation is required*
            </div>
            }
          </div>
          <div class="form-control">
            <label class="label label-text">Qualification</label>
            <input type="text" class="input input-bordered input-sm" formControlName="qualification">
            @if (myForm.controls.cdc.controls[$index].controls.qualification.invalid &&
            myForm.controls.cdc.controls[$index].controls.qualification.touched){
            <div class="label label-text-alt text-red-700">
              Qualification is required*
            </div>
            }
          </div>
        </div>
      </div>
      }
    </div>
    <div class="flex gap-2 mb-8">
      <button (click)="addItem()" [disabled]="ld.isLoading()" class="btn btn-sm btn-warning cursor-pointer">
        Add CDC Member +
      </button>

      <button type="submit" class="btn btn-sm btn-primary flex-auto" [disabled]="myForm.invalid">
        Submit
        @if(ld.isLoading()){
        <span class="loading loading-spinner loading-1xl"></span>
        }
      </button>
    </div>
  </form>
</div>
