<div class="space-y-4">
  <h3 class="text-xl">Appointment - Curriculum Development Coordinators</h3>
  <form [formGroup]="cdcForm" novalidate (ngSubmit)="onSubmit()">
    <h2 class="text-xl font-bold">CDC - Members</h2>
    <div formArrayName="cdc">
      @for(item of items.controls; track $index){
      <div class="space-y-2 bg-gray-100 p-4 my-2 rounded-box">
        <div class="flex justify-between items-center">
          <span class="font-semibold">CDC Member: {{$index + 1}}</span>
          @if(cdcForm.controls.cdc.controls.length > 1){
          <button class="btn btn-sm btn-secondary" (click)="removeItem($index)">Remove</button>
          }
        </div>

        <div class="space-y-0" [formGroupName]="$index">
          <div class="grid grid-cols-2 gap-2 items-start">
            <fieldset class="fieldset">
              <legend class="fieldset-legend">First Name</legend>
              <input type="text" class="input input-bordered input-sm" formControlName="firstName">
              @if (cdcForm.controls.cdc.controls[$index].controls.firstName.invalid &&
              cdcForm.controls.cdc.controls[$index].controls.firstName.touched) {
              <span class="label text-error">
                First name required*
              </span>
              }
            </fieldset>

            <fieldset class="fieldset">
              <legend class="fieldset-legend">Last Name</legend>
              <input type="text" class="input input-bordered input-sm" formControlName="lastName">
              @if (cdcForm.controls.cdc.controls[$index].controls.lastName.invalid &&
              cdcForm.controls.cdc.controls[$index].controls.lastName.touched) {
              <span class="label text-error">
                Last name required*
              </span>
              }
            </fieldset>
          </div>

          <fieldset class="fieldset">
            <legend class="fieldset-legend">Email address</legend>
            <input type="email" class="input input-bordered input-sm" formControlName="emailAddress">
            @if (cdcForm.controls.cdc.controls[$index].controls.emailAddress.invalid &&
            cdcForm.controls.cdc.controls[$index].controls.emailAddress.touched){
            <span class="label text-error">
              Email address required*
            </span>
            }
          </fieldset>

          <div class="grid grid-cols-2 gap-2 items-start">
            <fieldset class="fieldset">
              <legend class="fieldset-legend">Work Telephone Number: </legend>
              <input type="text" class="input input-bordered input-sm" formControlName="workNumber">
              @if (cdcForm.controls.cdc.controls[$index].controls.workNumber.invalid &&
              cdcForm.controls.cdc.controls[$index].controls.workNumber.touched){
              <span class="label text-error">
                Work Telephone Number is required*
              </span>
              }
            </fieldset>

            <fieldset class="fieldset">
              <legend class="fieldset-legend">Cell Number(Optional): </legend>
              <input type="text" class="input input-bordered input-sm" formControlName="cellphone"
                (change)=onCellPhoneValueChanged(cdcForm.controls.cdc.controls[$index].controls.cellphone.value,cdcForm.controls.cdc.controls[$index].controls.workNumber)>
              @if (cdcForm.controls.cdc.controls[$index].controls.cellphone.invalid &&
              cdcForm.controls.cdc.controls[$index].controls.cellphone.touched){
              <span class="label text-error">
                Cell Phone Number is required(minimum 10 numbers)*
              </span>
              }
            </fieldset>
          </div>

          <fieldset class="fieldset">
            <legend class="fieldset-legend">Organisation</legend>
            <input type="text" class="input input-bordered input-sm" formControlName="organization">
            @if (cdcForm.controls.cdc.controls[$index].controls.organization.invalid &&
            cdcForm.controls.cdc.controls[$index].controls.organization.touched){
            <span class="label text-error">
              Organisation is required*
            </span>
            }
          </fieldset>

          <fieldset class="fieldset">
            <label class="fieldset-legend">Qualification</label>
            <input type="text" class="input input-bordered input-sm" formControlName="qualification">
            @if (cdcForm.controls.cdc.controls[$index].controls.qualification.invalid &&
            cdcForm.controls.cdc.controls[$index].controls.qualification.touched){
            <span class="label text-error">
              Qualification is required*
            </span>
            }
          </fieldset>
        </div>
      </div>
      }
    </div>
    <div class="flex gap-2 mb-8">
      <button (click)="addItem()" [disabled]="ld.isLoading()" class="btn btn-sm btn-warning cursor-pointer">
        Add CDC Member +
      </button>

      <button type="submit" class="btn btn-sm btn-primary flex-auto" [disabled]="cdcForm.invalid">
        Submit
        @if(ld.isLoading()){
        <span class="loading loading-spinner loading-1xl"></span>
        }
      </button>
    </div>
  </form>
</div>
