<div class="p-4 sm:bg-primary space-y-3 sm:text-base-100">

  <div class="flex gap-3 items-center">
    <label for="programme_drawer" class="btn btn-ghost btn-circle drawer-button bg-gray-200 sm:bg-gray-100/10 lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round"
        stroke-width="2" fill="none" stroke="currentColor" class="inline-block size-6 my-1.5">
        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
        <path d="M9 4v16"></path>
        <path d="M14 10l2 2l-2 2"></path>
      </svg>
    </label>
    <h2 class="text-2xl md:text-3xl font-bold capitalize">
      {{programme?.title}}
    </h2>
  </div>

  <div class="space-y-1 hidden md:block">
    <span class="text-xs">Overview</span>
    <div class="flex gap-3 lg:gap-8 flex-wrap">

      <div class="flex items-center gap-3 min-w-48">
        <div class="grid place-items-center w-10 h-10 bg-gray-500/30 rounded-lg">
          <span class="material-symbols-rounded">
            workspaces
          </span>
        </div>
        <div class="flex flex-col gap-0.5">
          <span class="text-xs">Faculty</span>
          <span class="text-base capitalize">{{programme?.faculty}}</span>
        </div>
      </div>

      <div class="flex items-center gap-3 min-w-48">
        <div class="grid place-items-center w-10 h-10 bg-gray-500/30 rounded-lg">
          <span class="material-symbols-rounded text-[30px]">
            groups_3
          </span>
        </div>
        <div class="flex flex-col gap-0.5">
          <span class="text-xs">Department</span>
          <span class="text-base capitalize">{{programme?.department}}</span>
        </div>
      </div>


      <div class="flex items-center gap-3 min-w-44">
        <div class="grid place-items-center w-10 h-10 bg-gray-500/30 rounded-lg">
          <span class="material-symbols-rounded ">
            account_circle
          </span>
        </div>
        <div class="flex flex-col">
          <span class="text-xs">Coordinator</span>
          <span class="text-base capitalize">{{programme?.initiatorFirstName}} {{programme?.initiatorLastName}}</span>
        </div>
      </div>

      <!-- <div class="flex items-center gap-3">
        <div class="grid place-items-center w-10 h-10 bg-gray-500/30 rounded-lg">
          <span class="material-symbols-rounded ">
            clock_loader_10
          </span>
        </div>
        <div class="flex flex-col">
          <span class="text-xs">Current Stage</span>
          <span class="text-base capitalize">Need Analysis</span>
        </div>
      </div> -->

    </div>
  </div>

  <div class="collapse collapse-plus md:hidden border-2 border-primary rounded-lg">
    <input type="checkbox" />
    <div class="collapse-title font-semibold">Overview</div>
    <div class="collapse-content text-sm">
      <div class="flex flex-col gap-2">

        <div class="flex items-center gap-3 min-w-48">
          <div class="grid place-items-center w-10 h-10 bg-gray-200 rounded-lg">
            <span class="material-symbols-rounded">
              workspaces
            </span>
          </div>
          <div class="flex flex-col gap-0.5">
            <span class="text-xs">Faculty</span>
            <span class="text-base capitalize">{{programme?.faculty}}</span>
          </div>
        </div>

        <div class="flex items-center gap-3 min-w-48">
          <div class="grid place-items-center w-10 h-10 bg-gray-200 rounded-lg">
            <span class="material-symbols-rounded text-[30px]">
              groups_3
            </span>
          </div>
          <div class="flex flex-col gap-0.5">
            <span class="text-xs">Department</span>
            <span class="text-base capitalize">{{programme?.department}}</span>
          </div>
        </div>


        <div class="flex items-center gap-3 min-w-44">
          <div class="grid place-items-center w-10 h-10 bg-gray-200 rounded-lg">
            <span class="material-symbols-rounded ">
              account_circle
            </span>
          </div>
          <div class="flex flex-col">
            <span class="text-xs">Coordinator</span>
            <span class="text-base capitalize">{{programme?.initiatorFirstName}} {{programme?.initiatorLastName}}</span>
          </div>
        </div>

        <div class="flex items-center gap-3">
          <div class="grid place-items-center w-10 h-10 bg-gray-200 rounded-lg">
            <span class="material-symbols-rounded ">
              clock_loader_10
            </span>
          </div>
          <div class="flex flex-col">
            <span class="text-xs">Current Stage</span>
            <span class="text-base capitalize">Need Analysis</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="flex items-start">
  <div class="drawer lg:drawer-open">
    <input id="programme_drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <div class="overflow-x-scroll h-screen p-4 lg:p-8">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="drawer-side">
      <div class="w-64 flex h-dvh flex-col justify-between bg-primary text-white">
        <div class="px-4 py-2">

          <div class="mx-2 my-4 lg:hidden is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Open">
            <label for="programme_drawer"
              class="btn btn-ghost btn-circle drawer-button bg-white/10 is-drawer-open:rotate-y-180">
              <span class="material-symbols-rounded">
                left_panel_close
              </span>
            </label>
          </div>

          <!-- <h4 class="mt-6 ml-4 font-bold text-xs">Programme Process</h4> -->

          <ul class="mt-0 space-y-6">
            @for (stage of stages; track stage.id){
            <li>
              <a [routerLink]=[stage.id] (click)="onSelect(stage.id)"
                class="block cursor-pointer transition-all ease-in capitalize font-light active:font-medium rounded-lg active:bg-gray-100 active:text-gray-700 px-4 py-2 text-sm"
                [class]="currentPath()==stage.id?'bg-base-100/20 backdrop-blur-lg text-white':'bg-transparent border-none text-white'">
                {{stage.title}}
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
