<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {733, 576}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColorProfile</key>
	<dict>
		<key>cmykDigest</key>
		<data>
		3BoW4qwKxUDpWkDCGI+XQA==
		</data>
		<key>cmykName</key>
		<string>Generic CMYK Profile</string>
		<key>grayDigest</key>
		<data>
		PpmxrWLOtBPnMHmXQSiYZQ==
		</data>
		<key>grayName</key>
		<string>Generic Gray Profile</string>
		<key>rgbDigest</key>
		<data>
		3iULpA8R7JTxazyOfR0q6g==
		</data>
		<key>rgbName</key>
		<string>Generic RGB Profile</string>
	</dict>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2016-04-16 15:10:55 +0000</string>
	<key>Creator</key>
	<string>José G. Quenum</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>40447</integer>
			</dict>
			<key>ID</key>
			<integer>40451</integer>
			<key>Points</key>
			<array>
				<string>{313, 307.25}</string>
				<string>{427.88360595703125, 226.75}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>40449</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
			<key>ID</key>
			<integer>40450</integer>
			<key>Points</key>
			<array>
				<string>{217.88360595703125, 221.25}</string>
				<string>{311, 307.75}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>Arrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>40438</integer>
				<key>Info</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>40449</integer>
			<key>Points</key>
			<array>
				<string>{311, 406.25}</string>
				<string>{311, 307.75}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>Arrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>40393</integer>
				<key>Info</key>
				<integer>6</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{421.01146887207028, 162.75}, {61, 31}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>40446</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.850547</string>
								<key>r</key>
								<string>0.821168</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.5</string>
								<key>g</key>
								<string>0.5</string>
								<key>r</key>
								<string>0.5</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AvenirNext-UltraLight;}
{\colortbl;\red255\green255\blue255;\red221\green10\blue12;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs44 \cf2 yester}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{404.2557373046875, 144.75}, {94.511474609375, 82}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40447</integer>
					<key>Magnets</key>
					<array>
						<string>{-1, 0}</string>
						<string>{-0.5, -1}</string>
						<string>{0.5, -1}</string>
						<string>{1, 0}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
					</array>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.455882</string>
								<key>g</key>
								<string>0.270742</string>
								<key>r</key>
								<string>0.0661141</string>
							</dict>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{446.62786865234375, 97.5}, {70, 70}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40448</integer>
					<key>ImageID</key>
					<integer>11</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>40445</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>40403</integer>
			</dict>
			<key>ID</key>
			<integer>40440</integer>
			<key>Points</key>
			<array>
				<string>{180, 424.25}</string>
				<string>{133, 424.25}</string>
				<string>{133, 356.25000066342557}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>Arrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{164.75573156738278, 157.25}, {59, 31}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>40437</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.850547</string>
								<key>r</key>
								<string>0.821168</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.5</string>
								<key>g</key>
								<string>0.5</string>
								<key>r</key>
								<string>0.5</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AvenirNext-UltraLight;}
{\colortbl;\red255\green255\blue255;\red221\green10\blue12;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs44 \cf2 yarub}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{147, 139.25}, {94.511474609375, 82}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40438</integer>
					<key>Magnets</key>
					<array>
						<string>{-1, 0}</string>
						<string>{-0.5, -1}</string>
						<string>{0.5, -1}</string>
						<string>{1, 0}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
					</array>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.455882</string>
								<key>g</key>
								<string>0.270742</string>
								<key>r</key>
								<string>0.0661141</string>
							</dict>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{235.5, 167.75}, {61, 59}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40439</integer>
					<key>ImageID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>40436</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>40427</integer>
			</dict>
			<key>ID</key>
			<integer>40428</integer>
			<key>Points</key>
			<array>
				<string>{434.07318583597788, 407.36311267641571}</string>
				<string>{433, 293.25}</string>
				<string>{486.12786865234375, 293.85284980749879}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>Arrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>40393</integer>
				<key>Info</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>40423</integer>
			</dict>
			<key>ID</key>
			<integer>40424</integer>
			<key>Points</key>
			<array>
				<string>{553.62786865234375, 288.75}</string>
				<string>{603.2557373046875, 288.75}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>Arrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>40426</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{687.2557373046875, 303.41182556179774}, {38.872122005814113, 42.838174438202252}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40418</integer>
					<key>ImageID</key>
					<integer>9</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{625.75573156738278, 231.25}, {69, 31}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FitText</key>
									<string>YES</string>
									<key>Flow</key>
									<string>Resize</string>
									<key>FontInfo</key>
									<dict>
										<key>Font</key>
										<string>Helvetica</string>
										<key>Size</key>
										<real>10</real>
									</dict>
									<key>ID</key>
									<integer>40421</integer>
									<key>Magnets</key>
									<array>
										<string>{0, 1}</string>
										<string>{0, -1}</string>
										<string>{1, 0}</string>
										<string>{-1, 0}</string>
									</array>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>1</string>
												<key>g</key>
												<string>0.850547</string>
												<key>r</key>
												<string>0.821168</string>
											</dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.5</string>
												<key>g</key>
												<string>0.5</string>
												<key>r</key>
												<string>0.5</string>
											</dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>2</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AvenirNext-UltraLight;}
{\colortbl;\red255\green255\blue255;\red221\green10\blue12;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs44 \cf2 sennar}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{639.7557373046875, 289.25}, {41, 41}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>40422</integer>
									<key>ImageID</key>
									<integer>14</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Cap</key>
											<integer>0</integer>
											<key>Draws</key>
											<string>NO</string>
											<key>Join</key>
											<integer>0</integer>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>40420</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{603.2557373046875, 236.25}, {114, 105}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>40423</integer>
							<key>Magnets</key>
							<array>
								<string>{-1, 0}</string>
								<string>{-0.5, -1}</string>
								<string>{0.5, -1}</string>
								<string>{1, 0}</string>
								<string>{0.5, 1}</string>
								<string>{-0.5, 1}</string>
							</array>
							<key>Shape</key>
							<string>Hexagon</string>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.455882</string>
										<key>g</key>
										<string>0.270742</string>
										<key>r</key>
										<string>0.0661141</string>
									</dict>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>40419</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>40417</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{184, 406.25}, {254, 72}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>HelveticaNeue-Light</string>
						<key>Size</key>
						<real>20</real>
					</dict>
					<key>ID</key>
					<integer>40393</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0.754717</string>
								<key>g</key>
								<string>0.208693</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>a</key>
								<string>0.23</string>
								<key>b</key>
								<string>0.327044</string>
								<key>g</key>
								<string>0.0753004</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.867925</string>
								<key>g</key>
								<string>0.28061</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-UltraLight;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs60 \cf1 Pub/Sub\
}</string>
						<key>VerticalPad</key>
						<integer>1</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{290.5, 443.25}, {41, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>40394</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.850547</string>
								<key>r</key>
								<string>0.821168</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.5</string>
								<key>g</key>
								<string>0.5</string>
								<key>r</key>
								<string>0.5</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-UltraLight;}
{\colortbl;\red255\green255\blue255;\red221\green10\blue12;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf2 kafka}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>40392</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{490.62786865234375, 280.75}, {63, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>40426</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.850547</string>
						<key>r</key>
						<string>0.821168</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.5</string>
						<key>g</key>
						<string>0.5</string>
						<key>r</key>
						<string>0.5</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green30\blue141;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs26 \cf2 RabbitMQ}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{486.12786865234375, 259.25}, {70, 70}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>40427</integer>
			<key>ImageID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{54.90093994140625, 246.93478194526978}, {84.198113207547181, 61.630434782608667}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>40401</integer>
							<key>ImageID</key>
							<integer>7</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{56.139147488576057, 199.24999999999997}, {81.721698113207566, 24.65217391304347}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>10</real>
							</dict>
							<key>ID</key>
							<integer>40402</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.850547</string>
										<key>r</key>
										<string>0.821168</string>
									</dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.5</string>
										<key>g</key>
										<string>0.5</string>
										<key>r</key>
										<string>0.5</string>
									</dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>2</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwRrYW5vhoQC
								aUkBBJKEhIQM
								TlNEaWN0aW9u
								YXJ5AJSEAWkD
								koSWlgdOU0Nv
								bG9yhpKEhIQH
								TlNDb2xvcgCU
								hAFjBYQFZmZm
								ZmYAg3sULj8B
								AAGGkoSWlhBO
								U1BhcmFncmFw
								aFN0eWxlhpKE
								hIQXTlNNdXRh
								YmxlUGFyYWdy
								YXBoU3R5bGUA
								hIQQTlNQYXJh
								Z3JhcGhTdHls
								ZQCUhARDQ0BT
								AgCEhIQHTlNB
								cnJheQCUmQyS
								hISECU5TVGV4
								dFRhYgCUhAJD
								ZgAchpKEo6IA
								OIaShKOiAFSG
								koSjogBwhpKE
								o6IAgYwAhpKE
								o6IAgagAhpKE
								o6IAgcQAhpKE
								o6IAgeAAhpKE
								o6IAgfwAhpKE
								o6IAgRgBhpKE
								o6IAgTQBhpKE
								o6IAgVABhoaB
								AAiEBFsxZl2D
								zcxMPYaShJaW
								Bk5TRm9udIaS
								hISEBk5TRm9u
								dB6UmTSEBVs1
								MmNdBgAAACwA
								AAD//kEAdgBl
								AG4AaQByAE4A
								ZQB4AHQALQBV
								AGwAdAByAGEA
								TABpAGcAaAB0
								AIQBZhSbAJsB
								mwCbAIaGhg==
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AvenirNext-UltraLight;}
{\colortbl;\red255\green255\blue255;\red218\green85\blue33;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs40 \cf2 kano}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>40400</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{25, 199.25000066342557}, {144, 157}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40403</integer>
					<key>Magnets</key>
					<array>
						<string>{-1, 0}</string>
						<string>{-0.5, -1}</string>
						<string>{0.5, -1}</string>
						<string>{1, 0}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
					</array>
					<key>Shape</key>
					<string>Hexagon</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.455882</string>
								<key>g</key>
								<string>0.270742</string>
								<key>r</key>
								<string>0.0661141</string>
							</dict>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>40399</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>15</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image14.pdf</string>
		<string>image12.eps</string>
		<string>image11.eps</string>
		<string>image10.eps</string>
		<string>image9.eps</string>
		<string>image7.eps</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2016-06-26 20:22:24 +0000</string>
	<key>Modifier</key>
	<string>José G. Quenum</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>1</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{1071, 433}, {1143, 984}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-138, -133}, {1008, 842}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
