<div class="">
  <div class="login-wrapper">
    <form class="space-y-4" #concludeForm="ngForm">
      <h3 class="text-2xl">Recommendation of Need Analysis </h3>
      <div class="form-control">
        <label for="ProgrammeCode" class="label">Proposed Programme Code</label>
        <input id="programmeCode" readonly type="text" class="input input-bordered" required
          [(ngModel)]="model.programmeCode" name="devCode" #procode="ngModel">
        @if(procode.valid && procode.touched){
        <div class="lab">
          <span class="text-danger">Proposed Programme Code is required</span>
        </div>
        }
      </div>

      <div class="form-control">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Final NA Report:</legend>
          <input type="file" class="file-input" ng2FileSelect [uploader]="uploader" />
        </fieldset>
        <!-- <label class="fieldset-label">Max size 2MB</label> -->
      </div>

      <div class="join join-vertical lg:join-horizontal">
        <!-- <button type="submit" class="btn btn-default join-item" (click)="uploader.clearQueue();">Clear All</button> -->
        <button type="button" class="btn join-item btn-success btn-s" (click)="setDecission('Recommend');uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length || !concludeForm.form.valid">
          Recommend
        </button>
        <button type="button" class="btn  btn-error btn-s join-item join-item" (click)="setDecission('decline');uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length || !concludeForm.form.valid">
          Decline
        </button>

        <button type="button" class="btn btn-warning btn-s join-item" (click)="setDecission('defer');uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length || !concludeForm.form.valid">
          Defer
        </button>
      </div>
    </form>
  </div>
</div>
