<div
  class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
  <ol class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
    @for(step of steps; track step.title; let i= $index; ){
    <li class="flex items-center gap-2 p-2 cursor-pointer" (click)="onSelectStep(step.id)">
      <span class="size-8 rounded-full grid place-items-center text-[14px]/6 font-bold"
        [class]="selectedStep==step.id?'bg-primary text-white':'bg-gray-100'">
        {{i+1}} </span>
      <span class="hidden sm:block"> {{step.title}} </span>
    </li>
    }
  </ol>
</div>


@if(selectedStep==1){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Circulation of Draft Programme</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="draft_programme.showModal()">
      Upload draft Programme to start PAC Consultation
    </button>
  </div>

  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Draft Version 1</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>

    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="draft_programme" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <external-curriculum-dev-pac-start [code]="code"></external-curriculum-dev-pac-start>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

}

@if(selectedStep===2){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">PAC Consultation and Benchmarking</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="consult_pac.showModal()">
      Consultations
    </button>
  </div>


  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Draft Version1</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>
    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="consult_pac" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <external-curriculum-dev-pac-consult [code]="code"></external-curriculum-dev-pac-consult>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}


@if(selectedStep===3){
<div class="space-y-4 my-6">
  <div class="flex justify-between">
    <h2 class="text-2xl capitalize">Final Draft Programme -PDQA Recommendations</h2>
    <button class="btn btn-sm font-normal btn-secondary text-primary" onclick="final_draft.showModal()">
      Recommendations
    </button>
  </div>


  <div class="border-2 border-primary p-4 rounded-lg w-full relative">
    <div class="flex flex-col -gap-2">
      <span class="text-base">Final</span>
      <span class="text-xs text-gray-500">Submitted: 28 Feb 2025</span>
    </div>
    <span class="absolute right-1 top-1">
      <action-buttons></action-buttons>
    </span>
  </div>
</div>

<dialog id="final_draft" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <external-pac-consult-endorse [code]="code"></external-pac-consult-endorse>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
}
