<div class="container">
  <h3 class="text-xl mb-4">Bos Consultation</h3>

  <form #bosForm="ngForm" class="space-y-4">

    <div class="form-group">
      <label for="date">BOS Date</label>
      <div class="form-control">
        <input id="date" type="Date" class="input input-bordered" required [(ngModel)]="model.date"
          ng2-datetime-picker date-only="true" name="date" placeholder="YYYY-MM-DD" #cdate="ngModel" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      @if(cdate.invalid && cdate.touched){
      <div class="label label-text-alt text-red-700">Bos consultation date is required</div>
      }
    </div>

    <div class="form-group">
      <label for="doc"> Recommendations (File): </label>
      <file-upload [code]="code" [url]="url" itemAlias="recommendation"></file-upload>
    </div>
    <!-- div class="form-group">
                <label for="status">Status: </label>
                <fieldset style="border:solid 0.4px;border-radius: 4px;width:100%;height:36px;">
                <div class="input-group controls-row" >
                    <label class="radio-inline control-label"><input type="radio" name="status" [(ngModel)]="model.status" [value]="true" class="form-control" required #status="ngModel">Recommend to proceed (Senate)</label>
                    <label class="radio-inline control-label"><input type="radio" name="status" [(ngModel)]="model.status" [value]="false" class="form-control" required #status="ngModel">Recommend to resubmit (BOS)</label>
                </div></fieldset>
                <div [hidden]="status.valid" class="alert alert-danger">Recommendations status is needed</div>
              </div -->

    <div class="form-group">
      <label class="control-label">Status: </label>

      <fieldset class="w-full border rounded-lg p-3">
        <div style="text-align:left;">
          <div>
            <label class="radio-inline">
              <input type="radio" name="status" [(ngModel)]="model.status" value="senate" required #status="ngModel">
              Recommend to Senate
            </label>
          </div>
          <div>
            <label class="radio-inline"> <input type="radio" name="status" [(ngModel)]="model.status" value="bos"
                required #status="ngModel"> Resubmit to BOS </label>
          </div>
          <label class="radio-inline"> <input type="radio" name="status" [(ngModel)]="model.status" value="decline"
              required #status="ngModel"> Decline </label>
        </div>
      </fieldset>

      <!-- <fieldset class="fieldset w-full p-4 bg-base-100 border border-base-300 rounded-box">
        <legend class="fieldset-legend">Status</legend>
        <label class="fieldset-label flex gap-2 items-center mb-2">
          <input type="checkbox"  class="checkbox checkbox-sm" [(ngModel)]="model.status" name="status" value="senate" required
            #status="ngModel" />
          Recommend to Senate
        </label>
        <label class="fieldset-label flex gap-2 items-center mb-2">
          <input type="checkbox"  class="checkbox checkbox-sm" [(ngModel)]="model.status" name="status" value="bos" required
            #status="ngModel" />
          Resubmit to BOS
        </label>

        <label class="fieldset-label flex gap-2 items-center mb-2">
          <input type="checkbox"  class="checkbox checkbox-sm" [(ngModel)]="model.status" name="status" value="decline" required
            #status="ngModel" />
          Decline
        </label>
      </fieldset> -->

      @if(status.invalid){
      <div class="label label-text-alt">Recommendations status is needed</div>
      }
    </div>

    <div class="form-control my-2">
      <!-- <button type="submit" class="btn btn-warning" (click)="onUpload">Clear</button> -->

      <button type="button" class="btn btn-sm btn-primary w-full btn-s" (click)="onUpload()"
        [disabled]="!fileUpload?.uploader?.queue.length || !bosForm.form.valid">
        Submit
        <span class="material-symbols-rounded">
          cloud_upload
          </span>
      </button>
    </div>
  </form>
</div>
