<div class="container">
  <h3 class="text-xl mb-4">Bos Consultation</h3>
  <form #bosForm="ngForm" class="space-y-2">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">BOS Date</legend>
      <div class="form-control">
        <input id="date" type="Date" class="input input-bordered" required [(ngModel)]="model.date" date-only="true"
          name="date" placeholder="YYYY-MM-DD" #date="ngModel" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      @if(date.invalid && date.touched){
      <div class="label label-text-alt text-red-700">Bos consultation date is required</div>
      }
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Recommendations (File)</legend>
      <file-upload [pid]="pid" [url]="url" itemAlias="recommendation"></file-upload>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Status</legend>
      <fieldset class="w-full border-2 border-gray-300 border-dashed rounded-lg p-3">
        <div class="space-y-1">
          <div>
            <label class="radio-inline">
              <input type="radio" class="radio radio-xs" name="status" [(ngModel)]="model.status" value="senate"
                required #status="ngModel">
              Recommend to Senate
            </label>
          </div>
          <div>
            <label class="radio-inline">
              <input class="radio radio-xs" type="radio" name="status" [(ngModel)]="model.status" value="bos" required
                #status="ngModel"> Resubmit to BOS </label>
          </div>
          <label class="radio-inline">
            <input class="radio radio-xs" type="radio" name="status" [(ngModel)]="model.status" value="decline" required
              #status="ngModel"> Decline </label>
        </div>
      </fieldset>

      @if(status.invalid && status.touched){
      <div class="label label-text-alt">Recommendations status is needed</div>
      }
    </fieldset>

    <div class="form-control my-2">
      <button type="button" class="btn btn-sm btn-primary w-full btn-s" (click)="onUpload()"
        [disabled]="!fileUpload?.uploader?.queue.length || !bosForm.form.valid">
        Submit
        <span class="material-symbols-rounded">cloud_upload</span>
      </button>
    </div>
  </form>
</div>
